<div class='post-parti'>
  <div [ngStyle]="{ 'background-image': 'url(' + post.parti.logo_url + ')' }" class='parti-logo'></div>
  <div class='parti-title'>{{ post.parti.title }}</div>
  <div *ngIf='post.parti.group' class='parti-group'>
    <
    {{ post.parti.group.name }}
  </div>
</div>
<div class='post-head'>
  <parti-post-byline [post]='post'></parti-post-byline>
</div>
<div [innerHTML]='post.parsed_title | partiSimpleFormat' class='post-title'></div>
<div [innerHTML]='post.parsed_body | partiSimpleFormat' class='post-body'></div>
<div (click)='onClickLinkReference(post.link_reference)' *ngIf='!!post.link_reference &amp;&amp; !isVideo()' class='post-link-reference'>
  <div class='link-reference-image-wrapper'>
    <div [ngStyle]="{ 'background-image': 'url(' + post.link_reference.image_url + ')' }" class='link-reference-image'></div>
  </div>
  <div class='link-reference-detail-wrapper'>
    <div class='link-reference-title'>{{ post.link_reference.title }}</div>
    <div class='link-reference-body'>{{ post.link_reference.body }}</div>
    <div class='link-reference-footer'>
      <div class='link-reference-site-name'>{{ post.link_reference.site_name | uppercase }}</div>
      <div class='link-reference-view-link pull-right'>
        원글보기
        <ion-icon name='exit'></ion-icon>
      </div>
    </div>
  </div>
</div>
<div *ngIf='!!post.link_reference &amp;&amp; isVideo()' class='post-video-reference'>
  비디오
</div>
<div *ngIf='!!post.file_reference &amp;&amp; isImage()' class='post-image-reference'>
  <img src='{{ post.file_reference.attachment_url }}'>
</div>
<div *ngIf='!!post.file_reference &amp;&amp; !isImage()' class='post-file-reference'>
  <span class='file-reference-name'>{{ post.file_reference.name }}</span>
  <span class='file-reference-file-size'>{{ post.file_reference.file_size }} byte</span>
  <button (click)='onClickFileReference(post.file_reference)' class='file-reference-button' color='gray' ion-button outline>
    다운로드
  </button>
</div>
<div *ngIf='!!post.poll' class='post-poll'>
  <div class='poll-title'>"{{ post.poll.title }}"</div>
  <div class='poll-voting-btns'>
    <div class='voting-btns-wrapper'>
      <button (click)='onClickVotingButton("agree")' [class.voted]='isAgreed()' [disabled]='disableVotingButtons' class='agreed-voting-btn' color='agree' ion-button outline>
        <ion-icon name='thumbs-up'></ion-icon>
        찬성
        <!-- %br -->
        <!-- {{ post.poll.agreed_votings_count }} -->
      </button>
      <button (click)='onClickVotingButton("disagree")' [class.voted]='isDisagreed()' [disabled]='disableVotingButtons' class='disagreed-voting-btn' color='disagree' ion-button outline>
        <ion-icon name='thumbs-down'></ion-icon>
        반대
        <!-- %br -->
        <!-- {{ post.poll.disagreed_votings_count }} -->
      </button>
    </div>
    <div class='unsure-voting'>
      잘 모르겠습니다
    </div>
  </div>
  <div *ngIf='isVoted()' class='poll-votings'>
    <div class='agreed-voting-users'>
      <div (click)='onClickVotingUser(user)' *ngFor='let user of post.poll.agreed_voting_users' [ngStyle]="{ 'background-image': 'url(' + user.image_url + ')' }" class='voting-users'></div>
    </div>
    <div class='disagreed-voting-users'>
      <span (click)='onClickVotingUser(user)' *ngFor='let user of post.poll.disagreed_voting_users' [ngStyle]="{ 'background-image': 'url(' + user.image_url + ')' }" class='voting-users'></span>
    </div>
  </div>
  <div *ngIf='!isVoted()' class='poll-recommend-voting'>
    현재
    <span class='text-primary-dark'>{{ post.poll.votings_count }}</span>
    명이 투표했습니다.
    <br>
    투표하면 결과를 볼 수 있습니다.
  </div>
</div>
<div *ngIf='isCollection' class='post-buttons'>
  <parti-upvote-button [post]='post'></parti-upvote-button>
  <span (click)='onClickCommentButton()' class='comment-button'>
    <ion-icon name='chatbubbles'></ion-icon>
    댓글달기
  </span>
  <parti-share-button>
    <ion-icon md='md-share'></ion-icon>
    공유하기
  </parti-share-button>
</div>
<div class='post-footer'>
  <div class='post-reaction-info'>
    <span class='post-upvotes-count'>
      공감 {{ post.upvotes_count }}
    </span>
    <span class='post-comments-count'>
      댓글 {{ post.comments_count }}
    </span>
  </div>
  <div class='post-comments'>
    <div *ngFor='let comment of post.comments' class='comment'>
      <div class='comment-header'>
        <div class='comment-byline'>
          <div [ngStyle]="{ 'background-image': 'url(' + comment.user.image_url + ')' }" class='user-image'></div>
          <div class='byline-info'>
            <div class='user-nickname'>{{ comment.user.nickname }}</div>
            <div class='comment-created-at'>
              {{ comment.created_at | partiDateTimeFormatObservable | async }}
            </div>
          </div>
        </div>
      </div>
      <div [innerHTML]='comment.body | partiSimpleFormat ' class='comment-body'></div>
    </div>
  </div>
</div>
