.post-parti{ '*ngIf': 'isCollection && !isPartiHome' }
  .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + post.parti.logo_url + ')' }" }
  .parti-title{'(click)': 'onClickParti(post.parti)'}
    {{ post.parti.title }}
    %span{ '*ngIf': 'post.parti.group' }
      <
      {{ post.parti.group.name }}
.post-head
  %parti-post-byline{ '[post]': 'post' }
.post-title{ '*ngIf': 'post.parsed_title != null', '[innerHTML]': "post.parsed_title | partiSimpleFormat:post", smartBody: true }
.post-body{ '*ngIf': '!isCollection && post.parsed_body != null', '[innerHTML]': "post.parsed_body | partiSimpleFormat:post", smartBody: true }
.post-body{ '*ngIf': 'isCollection && post.parsed_body != null', '[innerHTML]': "post.parsed_body | partiReadMore:post.truncated_parsed_body | partiSimpleFormat:post", smartBody: true }
.post-link-reference{ '(click)': 'onClickLinkReference(post.link_reference)', '*ngIf': '!!post.link_reference && !post.link_reference.is_video' }
  .link-reference-image-wrapper{ '*ngIf': '!!post.link_reference.image_url' }
    .link-reference-image{ '[ngStyle]': "{ 'background-image': 'url(' + post.link_reference.image_url + ')' }" }
  .link-reference-detail-wrapper
    .link-reference-title {{ post.link_reference.title || post.link_reference.url }}
    .link-reference-body {{ post.link_reference.body }}
    .link-reference-footer
      .link-reference-site-name {{ post.link_reference.site_name | uppercase }}
      .link-reference-view-link.pull-right
        원글보기
        %ion-icon{ name: 'exit' }
.post-video-reference{ '*ngIf': '!!post.link_reference && !!post.link_reference.is_video' }
  .link-reference-video-wrapper
    .link-reference-video{  '[innerHTML]': "post.link_reference.video_embeded_code | partiSimpleFormat:post" }
  .link-reference-detail-wrapper
    .link-reference-footer
      .link-reference-site-name {{ post.link_reference.site_name | uppercase }}
      .link-reference-view-link.pull-right
        원글보기
        %ion-icon{ name: 'exit' }

.post-image-reference{ '*ngIf': '!!post.file_reference && isImage()'}
  %img{src: "{{ post.file_reference.attachment_url }}"}

.post-file-reference{ '*ngIf': '!!post.file_reference && !isImage()' }
  .file-reference-name {{ post.file_reference.name }}
  .file-reference-file-size {{ post.file_reference.file_size }} byte
  %button.file-reference-button{ 'ion-button': true, 'outline': true, color: 'gray', '(click)': 'onClickFileReference(post.file_reference)' }
    다운로드
.post-poll{ '*ngIf': '!!post.poll' }
  .poll-title
    "{{ post.poll.title }}"
  .poll-voting-btns
    .voting-btns-wrapper
      %button.agreed-voting-btn{ 'ion-button': true, 'outline': true, color: 'agree', '[class.voted]': 'isAgreed()', '(click)': 'onClickVotingButton("agree")', '[disabled]': 'disableVotingButtons' }
        %ion-icon{ name: "thumbs-up" }
        찬성
        .voting-count{ '*ngIf': 'isVoted()' }
          {{ post.poll.agreed_votings_count }}
      %button.disagreed-voting-btn{ 'ion-button': true, 'outline': true, color: 'disagree', '[class.voted]': 'isDisagreed()', '(click)': 'onClickVotingButton("disagree")', '[disabled]': 'disableVotingButtons' }
        %ion-icon{ name: "thumbs-down" }
        반대
        .voting-count{ '*ngIf': 'isVoted()' }
          {{ post.poll.disagreed_votings_count }}
    .unsure-voting{ '*ngIf': '!isVoted()', '(click)': 'onClickVotingButton("unsure")' }
      잘 모르겠습니다
    .unsure-voted{ '*ngIf': 'isUnsured()', '(click)': 'onClickAddCommentButton($event)' }
      댓글로 의견을 나눠 보세요
  .poll-votings{ '*ngIf': 'isVoted()' }
    .agreed-voting-users{ '(click)': "onClickVotingUsers('agree')" }
      .voting-user{ '*ngFor': 'let user of post.poll.latest_agreed_voting_users', '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }" }
    .disagreed-voting-users{ '(click)': "onClickVotingUsers('disagree')" }
      .voting-user{ '*ngFor': 'let user of post.poll.latest_disagreed_voting_users', '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }" }
  .poll-recommend-voting
    현재
    %span.poll-voted-counts {{ post.poll.agreed_votings_count + post.poll.disagreed_votings_count }}
    명이 투표했습니다.
  .poll-before-voting{ '*ngIf': '!isVoted()' }
    찬반 투표하면 현재 결과를 볼 수 있습니다.
.post-reaction-info-in-collection{ '*ngIf': '(hasUpvote() || hasComment()) && isCollection' }
  %span.post-upvotes-count{ '*ngIf': 'hasUpvote()', '(click)': 'onClickUpvoteUsers()' }
    공감 {{ post.upvotes_count }}
  %span.middot{ '*ngIf': 'hasUpvote() && hasComment()' }
    &middot;
  %span.post-comments-count{ '*ngIf': 'hasComment()', '(click)': 'onClickPostContent($event)'  }
    댓글 {{ post.comments_count }}
.post-buttons
  %span.upvote-button{ '[class.upvotable]': 'post.is_upvotable' }
    %ion-spinner{ '*ngIf': 'isPostUpvoteLoading' }
    %span{ '*ngIf': '!isPostUpvoteLoading', '(click)': 'onClickUpvoteButton()' }
      %ion-icon{ name: 'heart', '[class.upvoted]': '!post.is_upvotable' }
      {{ post.is_upvotable ? '공감해요' : '공감취소' }}
  %span.comment-button{ '(click)': 'onClickAddCommentButton($event)' }
    %ion-icon{ name: 'chatbubbles' }
    댓글달기
  %span.parti-share-button{ '(click)': 'onClickShare()' }
    %ion-icon{ name: 'md-share' }
    공유하기
.post-footer{ '*ngIf': "(isCollection && hasLatestComment()) || (!isCollection && (hasLatestComment() || hasUpvote()))" }
  .post-reaction-info{ '*ngIf': '!isCollection && hasUpvote()' }
    %span.post-upvotes-count{ '*ngIf': 'hasUpvote()', '(click)': 'onClickUpvoteUsers()' }
      공감 {{ post.upvotes_count }}
    .upvoters{ '*ngIf': "hasUpvote()" }
      .upvote-user{ '*ngFor': 'let user of post.latest_upvote_users'}
        .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }", '(click)': 'onClickUser(user)' }
      .more-users{ '*ngIf': "post.latest_upvote_users && post.latest_upvote_users.length < post.upvotes_count", '(click)': "onClickUpvoteUsers()" }
        + {{ post.upvotes_count - post.latest_upvote_users.length }}
  .post-comments{ '*ngIf': "hasLatestComment()" }
    %parti-comment-panel{ '[post]': 'post', '[comment]': 'comment', '(onAddComment)': 'onClickAddCommentButton($event)', '(onRemoveComment)': 'onClickRemoveCommentButton($event)', '*ngFor': 'let comment of smart_post_latest_comments()' }
