parti-post-panel {
  display: block;
  background-color: $background-color;
  padding: 6px 6px 0;
  .post-parti {
    border-bottom: 1px solid #d2d2d2;
    padding: 0 6px 6px;
    display: flex;
    flex-flow: row nowrap;

    .parti-logo {
      height: 28px;
      width: 28px;
      border-radius: 2px;
      margin-right: 12px;
      @include background-thumbnail();
    }
    .parti-info {
      flex: 1;
      align-self: center;
      .parti-title {
        width: 100%;
        display: inline-block;
        color: $brand-primary;
      }
      .parti-group {
        color: $brand-primary;
      }
    }
  }
  .post-head {
    padding: 12px 6px 0;
  }
  .parti-group {
    display: inline-block;
  }
  .post-title {
    font-size: $font-size-large;
    color: $gray-darker;
    padding: 0 12px;
    p {
      margin: 12px 0;
    }
  }
  .post-body {
    padding: 12px 6px 0;
    color: $gray-dark;
    line-height: 20px;
    margin-bottom: 12px;
    p {
      margin: 0 0 12px;
    }
    .video-container {
      iframe {
        width: 100%;
      }
    }
  }
  .post-upvotes-count {
    color: $brand-primary;
    padding-right: 14px;
  }
  .post-buttons {
    display: flex;
    justify-content: space-between;
    padding: 6px 6px;
    border-top: 1px solid $gray-lighter;
    color: $gray;
    font-size: $font-size-small;
    text-align: center;
    ion-icon {
      font-size: 22px;
    }
    .upvote-button,
    .comment-button {
      width: 33%;
    }
    .upvote-button {
      .upvoted {
        color: $brand-primary;
      }
      .upvotable {
        color: $gray;
      }
    }
    .parti-share-button {
      width: 33%;
    }
  }
  .post-video-reference,
  .post-link-reference {
    border: 1px solid $gray-light;
    margin: 0 6px;
    margin-bottom: 12px;
    .link-reference-image-wrapper {
      flex: 0 0 130px;
      .link-reference-image {
        width: 100%;
        height: 173px;
        @include background-thumbnail();
      }
    }
    .link-reference-detail-wrapper {
      padding: 12px;
      .link-reference-title {
        font-weight: bold;
      }
      .link-reference-body {
        padding-top: 6px;
        font-size: $font-size-small;
        color: $gray;
      }
      .link-reference-footer {
        padding-top: 6px;
        .link-reference-site-name,
        .link-reference-view-link {
          font-size: $font-size-small;
          color: $gray;
          display: inline-block;
        }
      }

    }
    .parti-logo {
      height: 20px;
      width: 20px;
      @include background-thumbnail();
    }
  }
  .post-video-reference {
    border: 1px solid $gray-light;
    margin: 0 6px 12px;
    .link-reference-video-wrapper {
      .link-reference-video {
        height: 145px;
        iframe {
          width: 100%;
        }
      }
    }
  }
  .post-file-reference {
    border: 1px solid $gray-light;
    margin: 0 6px 12px;
    padding: 24px;
    text-align: center;
    .file-reference-file-size {
      font-size: $font-size-small;
      color: $gray-light;
      padding-left: 6px;
    }
    .file-reference-button {
      display: block;
      margin: 12px 0 0;
      margin-left: auto;
      margin-right: auto;
      font-size: $font-size-small;
      background-color: #f9f9f9;
      .button-inner {
        color: $gray;
      }
    }
  }
  .post-poll {
    border: 1px solid $gray-light;
    margin: 0 6px 12px;
    padding: 24px;
    text-align: center;
    .poll-title {
      font-size: $font-size-large;
      font-weight: bold;
    }
    .poll-voting-btns {
      margin: 24px 0 6px;
      button {
        margin: 0;
        margin-right: 10px;
        height: inherit;
        .button-inner {
          display: inline-block;
          .voting-count {
            margin-top: -6px;
            font-weight: bold;
          }
        }
      }
      .voting-btns-wrapper {
        display: flex;
        justify-content: center;
        .agreed-voting-btn {
          ion-icon {
            font-size: $font-size-large;
            padding-right: 3px;
            padding-bottom: 3px;
          }
          &.voted {
            background-color: $brand-success-dark;
            border-color: $brand-success-dark;
            color: #fff;
          }
        }
        .disagreed-voting-btn {
          ion-icon {
            font-size: $font-size-large;
            padding-right: 3px;
            padding-top: 6px;
          }
          &.voted {
            background-color: $brand-danger-dark;
            border-color: $brand-danger-dark;
            color: #fff;
          }
        }
      }
      .unsure-voted,
      .unsure-voting {
        padding-top: 18px;
        font-size: $font-size-small;
        color: $gray-light;
      }
    }
    .poll-before-voting,
    .poll-recommend-voting {
      margin-top: 18px;
      line-height: 20px;
      color: $gray;
      .poll-voted-counts {
        color: $brand-primary-dark;
        font-weight: bold;
      }
    }

    .poll-votings {
      .agreed-voting-users,
      .disagreed-voting-users {
        display: inline-block;
        width: 45%;
        vertical-align: text-top;
        .voting-user {
          height: 20px;
          width: 20px;
          @include background-thumbnail();
          display: inline-block;
          margin-left: 1px;
          margin-right: 1px;
          border-radius: 50%;
        }
      }
      .agreed-voting-users {
        text-align: right;
        padding-right: 8px;
      }
      .disagreed-voting-users {
        text-align: left;
      }
    }

  }
  .post-footer {
    color: $gray-light;
    .post-reaction-info {
      font-size: $font-size-small;
      padding: 0 6px 12px;
      color: $brand-primary;
      .post-comments-count {
        padding-right: 14px;
      }
    }
  }
  .post-comments {
    padding: 12px 6px;
    border-top: 1px solid $gray-lighter;
    background-color: $gray-lightest;
    margin-left: -6px;
    margin-right: -6px;
    .comment {
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
      border-top: 1px solid $gray-less-lighter;
      padding: 12px 0;
      color: $gray-dark;
      .comment-header {
        .comment-byline {
          display: flex;
          justify-content: flex-start;
          .user-image {
            display: inline-block;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            @include background-thumbnail();
          }
          .byline-info {
            padding-left: 8px;
            .user-nickname{
              display: inline-block;
              color: $brand-primary-dark;
            }
            .comment-created-at {
              color: $gray-light;
              display: inline-block;
              font-size: $font-size-small;
            }
          }
        }
      }
      .comment-body {
        padding-left: 32px;
        &.agreed:before {
          content: '\f392  찬성 ';
          font-family: "Ionicons";
          color: $brand-success;
        }
        &.disagreed:before {
          content: '\f391  반대 ';
          font-family: "Ionicons";
          color: $brand-danger;
        }
      }
    }
  }
}
