.post-parti{ '*ngIf': 'isCollection' }
  .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + post.parti.logo_url + ')' }" }
  .parti-info
    .parti-title {{ post.parti.title }}
    .parti-group{ '*ngIf': 'post.parti.group' }
      <
      {{ post.parti.group.name }}
.post-head
  %parti-post-byline{ '[post]': 'post' }
.post-title{ '[innerHTML]': "post.parsed_title | partiSimpleFormat", '(click)': 'onClickPostContent()' }
.post-body{ '[innerHTML]': "post.parsed_body | partiSimpleFormat", '(click)': 'onClickPostContent()' }
.post-link-reference{ '(click)': 'onClickLinkReference(post.link_reference)', '*ngIf': '!!post.link_reference && !post.link_reference.is_video' }
  .link-reference-image-wrapper
    .link-reference-image{ '[ngStyle]': "{ 'background-image': 'url(' + post.link_reference.image_url + ')' }" }
  .link-reference-detail-wrapper
    .link-reference-title {{ post.link_reference.title }}
    .link-reference-body {{ post.link_reference.body }}
    .link-reference-footer
      .link-reference-site-name {{ post.link_reference.site_name | uppercase }}
      .link-reference-view-link.pull-right
        원글보기
        %ion-icon{ name: 'exit' }
.post-video-reference{ '*ngIf': '!!post.link_reference && !!post.link_reference.is_video' }
  .link-reference-video-wrapper
    .link-reference-video{  '[innerHTML]': "post.link_reference.video_embeded_code | partiSimpleFormat " }
  .link-reference-detail-wrapper
    .link-reference-footer
      .link-reference-site-name {{ post.link_reference.site_name | uppercase }}
      .link-reference-view-link.pull-right
        원글보기
        %ion-icon{ name: 'exit' }

.post-image-reference{ '*ngIf': '!!post.file_reference && isImage()'}
  %img{src: "{{ post.file_reference.attachment_url }}"}

.post-file-reference{ '*ngIf': '!!post.file_reference && !isImage()' }
  %span.file-reference-name {{ post.file_reference.name }}
  %span.file-reference-file-size {{ post.file_reference.file_size }} byte
  %button.file-reference-button{ 'ion-button': true, 'outline': true, color: 'gray', '(click)': 'onClickFileReference(post.file_reference)' }
    다운로드
.post-poll{ '*ngIf': '!!post.poll' }
  .poll-title "{{ post.poll.title }}"
  .poll-voting-btns
    .voting-btns-wrapper
      %button.agreed-voting-btn{ 'ion-button': true, 'outline': true, color: 'agree', '[class.voted]': 'isAgreed()', '(click)': 'onClickVotingButton("agree")', '[disabled]': 'disableVotingButtons' }
        %ion-icon{ name: "thumbs-up" }
        찬성
        / %br
        / {{ post.poll.agreed_votings_count }}
      %button.disagreed-voting-btn{ 'ion-button': true, 'outline': true, color: 'disagree', '[class.voted]': 'isDisagreed()', '(click)': 'onClickVotingButton("disagree")', '[disabled]': 'disableVotingButtons' }
        %ion-icon{ name: "thumbs-down" }
        반대
        / %br
        / {{ post.poll.disagreed_votings_count }}
    .unsure-voting
      잘 모르겠습니다
  .poll-votings{ '*ngIf': 'isVoted()' }
    .agreed-voting-users
      .voting-users{ '*ngFor': 'let user of post.poll.agreed_voting_users', '(click)': 'onClickVotingUser(user)', '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }" }
    .disagreed-voting-users
      %span.voting-users{ '*ngFor': 'let user of post.poll.disagreed_voting_users', '(click)': 'onClickVotingUser(user)', '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }" }
  .poll-recommend-voting{ '*ngIf': '!isVoted()' }
    현재
    %span.text-primary-dark {{ post.poll.votings_count }}
    명이 투표했습니다.
    %br
    투표하면 결과를 볼 수 있습니다.
.post-footer{ '*ngIf': 'post.upvotes_count > 0 || post.comments_count > 0' }
  .post-reaction-info
    %span.post-upvotes-count{ '*ngIf': 'post.upvotes_count > 0' }
      공감 {{ post.upvotes_count }}
    %span.post-comments-count{ '*ngIf': 'post.comments_count > 0' }
      댓글 {{ post.comments_count }}
.post-buttons
  %parti-upvote-button{ '[post]': 'post' }
  %span.comment-button{ '*ngIf': 'isCollection', '(click)': 'onClickCommentButton()' }
    %ion-icon{ name: 'chatbubbles' }
    댓글달기
  %span.parti-share-button{ '(click)': 'onClickShare()' }
    %ion-icon{ name: 'md-share' }
    공유하기
.post-comments{ '*ngIf': "hasComment() && !isCollection" }
  .comment{ '*ngFor': 'let comment of post.comments' }
    .comment-header
      .comment-byline
        .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + comment.user.image_url + ')' }" }
        .byline-info
          .user-nickname {{ comment.user.nickname }}
          .comment-created-at
            {{ comment.created_at | partiDateTimeFormatObservable | async }}
    .comment-body{ '[innerHTML]': "comment.body | partiSimpleFormat " }
