parti-post-panel {
  display: block;
  background-color: $gray-lighter;
  padding: 6px 6px 12px;
  .post-parti {
    border-bottom: 1px solid #d2d2d2;
    padding: 0 12px 6px;

    .parti-logo {
      display: inline-block;
      height: 28px;
      width: 28px;
      border-radius: 2px;
      @include background-thumbnail();
    }
  }
  .post-head {
    padding: 12px 6px 0;
  }
  .parti-group {
    display: inline-block;
  }
  .parti-title {
    display: inline-block;
    color: $brand-primary;
  }
  .parti-group {
    color: $brand-primary;
  }
  .post-title {
    font-size: $font-size-large;
    color: $gray-darker;
    padding: 0 12px;
    p {
      margin: 12px 0;
    }
  }
  .post-body {
    padding: 12px 6px 0;
    color: $gray-dark;
    line-height: 20px;
    margin-bottom: 12px;
    p {
      margin: 0 0 12px;
    }
    .video-container {
      iframe {
        width: 100%;
      }
    }
  }
  .post-upvotes-count {
    color: $gray-light;
  }
  .post-buttons {
    display: flex;
    justify-content: space-between;
    padding: 12px 6px;
    margin: 12px 6px 0;
    border-top: 1px solid $gray-lighter;
    color: $gray;
    font-size: $font-size-small;
  }
  .post-video-reference,
  .post-link-reference {
    border: 1px solid $gray-light;
    margin: 0 6px;
    .link-reference-image-wrapper {
      flex: 0 0 130px;
      .link-reference-image {
        width: 100%;
        height: 173px;
        @include background-thumbnail();
      }
    }
    .link-reference-detail-wrapper {
      padding: 12px;
      .link-reference-title {
        font-weight: bold;
      }
      .link-reference-body {
        padding-top: 6px;
        font-size: $font-size-small;
        color: $gray;
      }
      .link-reference-footer {
        padding-top: 6px;
        .link-reference-site-name,
        .link-reference-view-link {
          font-size: $font-size-small;
          color: $gray;
          display: inline-block;
        }
      }

    }
    .parti-logo {
      height: 20px;
      width: 20px;
      @include background-thumbnail();
    }
  }
  .post-video-reference {
    border: 1px solid $gray-light;
    margin: 0 6px;
    .link-reference-video-wrapper {
      .link-reference-video {
        height: 145px;
        iframe {
          width: 100%;
        }
      }
    }
  }
  .post-file-reference {
    border: 1px solid $gray-light;
    margin: 0 6px;
    padding: 24px;
    text-align: center;
    .file-reference-file-size {
      font-size: $font-size-small;
      color: $gray-light;
      padding-left: 6px;
    }
    .file-reference-button {
      display: block;
      margin: 12px 0 0;
      margin-left: auto;
      margin-right: auto;
      font-size: $font-size-small;
      background-color: #f9f9f9;
      .button-inner {
        color: $gray;
      }
    }
  }
  .post-poll {
    border: 1px solid $gray-light;
    margin: 0 6px;
    padding: 24px;
    text-align: center;
    .poll-title {
      font-size: $font-size-large;
      font-weight: bold;
    }
    .poll-voting-btns {
      margin: 24px 0 14px;
      button {
        margin: 0;
        margin-right: 10px;
      }
      .voting-btns-wrapper {
        display: flex;
        justify-content: center;
        .agreed-voting-btn {
          ion-icon {
            font-size: $font-size-large;
            padding-right: 3px;
            padding-bottom: 3px;
          }
        }
        .disagreed-voting-btn {
          ion-icon {
            font-size: $font-size-large;
            padding-right: 3px;
            padding-top: 6px;
          }
        }
      }
      .unsure-voting {
        padding-top: 18px;
        font-size: $font-size-small;
        color: $gray-light;
      }
    }
    .poll-recommend-voting {
      line-height: 20px;
      color: $gray;
    }
    .voting-users {
      height: 20px;
      width: 20px;
      @include background-thumbnail();
      display: inline-block;
    }
  }
  .post-footer {
    padding: 12px 0 0;
    border-top: 1px solid $gray-less-lighter;
    color: $gray-light;
    .post-reaction-info {
      font-size: $font-size-small;
      padding: 0 12px;
      .post-comments-count {
        padding-left: 14px;
      }
    }

    .post-comments {
      margin-top: 12px;
      padding: 12px 6px;
      .comment {
        &:first-child {
          border-top: none;
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
        border-top: 1px solid $gray-less-lighter;
        padding: 12px 0;
        color: $gray-dark;
        .comment-header {
          .comment-byline {
            display: flex;
            justify-content: flex-start;
            .user-image {
              display: inline-block;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              @include background-thumbnail();
            }
            .byline-info {
              padding-left: 8px;
              .user-nickname{
                display: inline-block;
                color: $brand-primary-dark;
              }
              .comment-created-at {
                color: $gray-light;
                display: inline-block;
                font-size: $font-size-small;
              }
            }
          }
        }
        .comment-body {
          padding-left: 32px;
        }
      }
    }
  }
}
