<div *ngIf='isCollection &amp;&amp; !isPartiHome' class='post-parti'>
  <div [ngStyle]="{ 'background-image': 'url(' + post.parti.logo_url + ')' }" class='parti-logo'></div>
  <div (click)='onClickParti(post.parti)' class='parti-title'>
    {{ post.parti.title }}
    <span *ngIf='post.parti.group'>
      <
      {{ post.parti.group.name }}
    </span>
  </div>
</div>
<div class='post-head'>
  <parti-post-byline [post]='post'></parti-post-byline>
</div>
<div *ngIf='post.parsed_title != null' [innerHTML]='post.parsed_title | partiSimpleFormat:post' class='post-title' smartBody></div>
<div *ngIf='!isCollection &amp;&amp; post.parsed_body != null' [innerHTML]='post.parsed_body | partiSimpleFormat:post' class='post-body' smartBody></div>
<div *ngIf='isCollection &amp;&amp; post.parsed_body != null' [innerHTML]='post.parsed_body | partiReadMore:post.truncated_parsed_body | partiSimpleFormat:post' class='post-body' smartBody></div>
<div (click)='onClickLinkReference(post.link_reference)' *ngIf='!!post.link_reference &amp;&amp; !post.link_reference.is_video' class='post-link-reference'>
  <div *ngIf='!!post.link_reference.image_url' class='link-reference-image-wrapper'>
    <div [ngStyle]="{ 'background-image': 'url(' + post.link_reference.image_url + ')' }" class='link-reference-image'></div>
  </div>
  <div class='link-reference-detail-wrapper'>
    <div class='link-reference-title'>{{ post.link_reference.title || post.link_reference.url }}</div>
    <div class='link-reference-body'>{{ post.link_reference.body }}</div>
    <div class='link-reference-footer'>
      <div class='link-reference-site-name'>{{ post.link_reference.site_name | uppercase }}</div>
      <div class='link-reference-view-link pull-right'>
        원글보기
        <ion-icon name='exit'></ion-icon>
      </div>
    </div>
  </div>
</div>
<div *ngIf='!!post.link_reference &amp;&amp; !!post.link_reference.is_video' class='post-video-reference'>
  <div class='link-reference-video-wrapper'>
    <div [innerHTML]='post.link_reference.video_embeded_code | partiSimpleFormat:post' class='link-reference-video'></div>
  </div>
  <div class='link-reference-detail-wrapper'>
    <div class='link-reference-footer'>
      <div class='link-reference-site-name'>{{ post.link_reference.site_name | uppercase }}</div>
      <div class='link-reference-view-link pull-right'>
        원글보기
        <ion-icon name='exit'></ion-icon>
      </div>
    </div>
  </div>
</div>
<div *ngIf='!!post.file_reference &amp;&amp; isImage()' class='post-image-reference'>
  <img src='{{ post.file_reference.attachment_url }}'>
</div>
<div *ngIf='!!post.file_reference &amp;&amp; !isImage()' class='post-file-reference'>
  <div class='file-reference-name'>{{ post.file_reference.name }}</div>
  <div class='file-reference-file-size'>{{ post.file_reference.file_size }} byte</div>
  <button (click)='onClickFileReference(post.file_reference)' class='file-reference-button' color='gray' ion-button outline>
    다운로드
  </button>
</div>
<div *ngIf='!!post.poll' class='post-poll'>
  <div class='poll-title'>
    "{{ post.poll.title }}"
  </div>
  <div class='poll-voting-btns'>
    <div class='voting-btns-wrapper'>
      <button (click)='onClickVotingButton("agree")' [class.voted]='isAgreed()' [disabled]='disableVotingButtons' class='agreed-voting-btn' color='agree' ion-button outline>
        <ion-icon name='thumbs-up'></ion-icon>
        찬성
        <div *ngIf='isVoted()' class='voting-count'>
          {{ post.poll.agreed_votings_count }}
        </div>
      </button>
      <button (click)='onClickVotingButton("disagree")' [class.voted]='isDisagreed()' [disabled]='disableVotingButtons' class='disagreed-voting-btn' color='disagree' ion-button outline>
        <ion-icon name='thumbs-down'></ion-icon>
        반대
        <div *ngIf='isVoted()' class='voting-count'>
          {{ post.poll.disagreed_votings_count }}
        </div>
      </button>
    </div>
    <div (click)='onClickVotingButton("unsure")' *ngIf='!isVoted()' class='unsure-voting'>
      잘 모르겠습니다
    </div>
    <div (click)='onClickCommentButton($event)' *ngIf='isUnsured()' class='unsure-voted'>
      댓글로 의견을 나눠 보세요
    </div>
  </div>
  <div *ngIf='isVoted()' class='poll-votings'>
    <div (click)="onClickVotingUsers('agree')" class='agreed-voting-users'>
      <div *ngFor='let user of post.poll.latest_agreed_voting_users' [ngStyle]="{ 'background-image': 'url(' + user.image_url + ')' }" class='voting-user'></div>
    </div>
    <div (click)="onClickVotingUsers('disagree')" class='disagreed-voting-users'>
      <div *ngFor='let user of post.poll.latest_disagreed_voting_users' [ngStyle]="{ 'background-image': 'url(' + user.image_url + ')' }" class='voting-user'></div>
    </div>
  </div>
  <div class='poll-recommend-voting'>
    현재
    <span class='poll-voted-counts'>{{ post.poll.agreed_votings_count + post.poll.disagreed_votings_count }}</span>
    명이 투표했습니다.
  </div>
  <div *ngIf='!isVoted()' class='poll-before-voting'>
    찬반 투표하면 현재 결과를 볼 수 있습니다.
  </div>
</div>
<div *ngIf='(hasUpvote() || hasComment()) &amp;&amp; isCollection' class='post-reaction-info-in-collection'>
  <span (click)='onClickUpvoteUsers()' *ngIf='hasUpvote()' class='post-upvotes-count'>
    공감 {{ post.upvotes_count }}
  </span>
  <span *ngIf='hasUpvote() &amp;&amp; hasComment()' class='middot'>
    &middot;
  </span>
  <span (click)='onClickPostContent($event)' *ngIf='hasComment()' class='post-comments-count'>
    댓글 {{ post.comments_count }}
  </span>
</div>
<div class='post-buttons'>
  <span [class.upvotable]='post.is_upvotable' class='upvote-button'>
    <ion-spinner *ngIf='isPostUpvoteLoading'></ion-spinner>
    <span (click)='onClickUpvoteButton()' *ngIf='!isPostUpvoteLoading'>
      <ion-icon [class.upvoted]='!post.is_upvotable' name='heart'></ion-icon>
      {{ post.is_upvotable ? '공감해요' : '공감취소' }}
    </span>
  </span>
  <span (click)='onClickCommentButton($event)' class='comment-button'>
    <ion-icon name='chatbubbles'></ion-icon>
    댓글달기
  </span>
  <span (click)='onClickShare()' class='parti-share-button'>
    <ion-icon name='md-share'></ion-icon>
    공유하기
  </span>
</div>
<div *ngIf='(isCollection &amp;&amp; hasComment()) || (!isCollection &amp;&amp; (hasComment() || hasUpvote()))' class='post-footer'>
  <div *ngIf='!isCollection &amp;&amp; hasUpvote()' class='post-reaction-info'>
    <span (click)='onClickUpvoteUsers()' *ngIf='hasUpvote()' class='post-upvotes-count'>
      공감 {{ post.upvotes_count }}
    </span>
    <div *ngIf='hasUpvote()' class='upvoters'>
      <div *ngFor='let user of post.latest_upvote_users' class='upvote-user'>
        <div (click)='onClickUser(user)' [ngStyle]="{ 'background-image': 'url(' + user.image_url + ')' }" class='user-image'></div>
      </div>
      <div (click)='onClickUpvoteUsers()' *ngIf='post.latest_upvote_users &amp;&amp; post.latest_upvote_users.length &lt; post.upvotes_count' class='more-users'>
        + {{ post.upvotes_count - post.latest_upvote_users.length }}
      </div>
    </div>
  </div>
  <div *ngIf='hasComment()' class='post-comments'>
    <parti-comment-panel (onAddComment)='onClickCommentButton($event)' *ngFor='let comment of comments' [comment]='comment' [post]='post'></parti-comment-panel>
  </div>
</div>
