.post-parti{ '*ngIf': 'isCollection && !isPartiHome' }
  .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + post.parti.logo_url + ')' }" }
  .parti-title{'(click)': 'onClickParti(post.parti)'}
    {{ post.parti.title }}
    %span{ '*ngIf': 'post.parti.group' }
      <
      {{ post.parti.group.name }}
.post-head
  %parti-post-byline{ '[post]': 'post' }
.post-title{ '*ngIf': 'post.parsed_title != null', '[innerHTML]': "post.parsed_title | partiSimpleFormat:post", smartBody: true }
.post-body{ '*ngIf': '!isCollection && post.parsed_body != null', '[innerHTML]': "post.parsed_body | partiSimpleFormat:post", smartBody: true }
.post-body{ '*ngIf': 'isCollection && post.parsed_body != null', '[innerHTML]': "post.parsed_body | partiReadMore:post.truncated_parsed_body | partiSimpleFormat:post", smartBody: true }
.post-link-reference{ '(click)': 'onClickLinkReference(post.link_reference)', '*ngIf': '!!post.link_reference && !post.link_reference.is_video' }
  .link-reference-image-wrapper
    .link-reference-image{ '[ngStyle]': "{ 'background-image': 'url(' + post.link_reference.image_url + ')' }" }
  .link-reference-detail-wrapper
    .link-reference-title {{ post.link_reference.title || post.link_reference.url }}
    .link-reference-body {{ post.link_reference.body }}
    .link-reference-footer
      .link-reference-site-name {{ post.link_reference.site_name | uppercase }}
      .link-reference-view-link.pull-right
        원글보기
        %ion-icon{ name: 'exit' }
.post-video-reference{ '*ngIf': '!!post.link_reference && !!post.link_reference.is_video' }
  .link-reference-video-wrapper
    .link-reference-video{  '[innerHTML]': "post.link_reference.video_embeded_code | partiSimpleFormat:post" }
  .link-reference-detail-wrapper
    .link-reference-footer
      .link-reference-site-name {{ post.link_reference.site_name | uppercase }}
      .link-reference-view-link.pull-right
        원글보기
        %ion-icon{ name: 'exit' }

.post-image-reference{ '*ngIf': '!!post.file_reference && isImage()'}
  %img{src: "{{ post.file_reference.attachment_url }}"}

.post-file-reference{ '*ngIf': '!!post.file_reference && !isImage()' }
  .file-reference-name {{ post.file_reference.name }}
  .file-reference-file-size {{ post.file_reference.file_size }} byte
  %button.file-reference-button{ 'ion-button': true, 'outline': true, color: 'gray', '(click)': 'onClickFileReference(post.file_reference)' }
    다운로드
.post-poll{ '*ngIf': '!!post.poll' }
  .poll-title "{{ post.poll.title }}"
  .poll-voting-btns
    .voting-btns-wrapper
      %button.agreed-voting-btn{ 'ion-button': true, 'outline': true, color: 'agree', '[class.voted]': 'isAgreed()', '(click)': 'onClickVotingButton("agree")', '[disabled]': 'disableVotingButtons' }
        %ion-icon{ name: "thumbs-up" }
        찬성
        .voting-count{ '*ngIf': 'isVoted()' }
          {{ post.poll.agreed_votings_count }}
      %button.disagreed-voting-btn{ 'ion-button': true, 'outline': true, color: 'disagree', '[class.voted]': 'isDisagreed()', '(click)': 'onClickVotingButton("disagree")', '[disabled]': 'disableVotingButtons' }
        %ion-icon{ name: "thumbs-down" }
        반대
        .voting-count{ '*ngIf': 'isVoted()' }
          {{ post.poll.disagreed_votings_count }}
    .unsure-voting{ '*ngIf': '!isVoted()', '(click)': 'onClickVotingButton("unsure")' }
      잘 모르겠습니다
    .unsure-voted{ '*ngIf': 'isUnsured()', '(click)': 'onClickCommentButton()' }
      댓글로 의견을 나눠 보세요
  .poll-votings{ '*ngIf': 'isVoted() && !isCollection' }
    .agreed-voting-users{ '(click)': "onClickVotingUsers('agree')" }
      .voting-user{ '*ngFor': 'let user of post.poll.agreed_voting_users.slice(0,6)', '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }" }
    .disagreed-voting-users{ '(click)': "onClickVotingUsers('disagree')" }
      .voting-user{ '*ngFor': 'let user of post.poll.disagreed_voting_users.slice(0,6)', '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }" }
  .poll-recommend-voting
    현재
    %span.poll-voted-counts {{ post.poll.agreed_votings_count + post.poll.disagreed_votings_count }}
    명이 투표했습니다.
  .poll-before-voting{ '*ngIf': '!isVoted()' }
    찬반 투표하면 현재 결과를 볼 수 있습니다.
.post-reaction-info-in-collection{ '*ngIf': '(hasUpvote() || hasComment()) && isCollection' }
  %span.post-upvotes-count{ '*ngIf': 'hasUpvote()' }
    공감 {{ post.upvotes_count }}
  %span.middot{ '*ngIf': 'hasUpvote() && hasComment()' }
    &middot;
  %span.post-comments-count{ '*ngIf': 'hasComment()' }
    댓글 {{ post.comments_count }}
.post-buttons
  %span.upvote-button{ '[class.upvotable]': 'post.is_upvotable' }
    %ion-spinner{ '*ngIf': 'isLoading' }
    %div{ '*ngIf': '!isLoading', '(click)': 'onClickUpvoteButton()' }
      %ion-icon{ name: 'heart', '[class.upvoted]': '!post.is_upvotable' }
      {{ post.is_upvotable ? '공감해요' : '공감해요 취소' }}
  %span.comment-button{ '(click)': 'onClickCommentButton()' }
    %ion-icon{ name: 'chatbubbles' }
    댓글달기
  %span.parti-share-button{ '(click)': 'onClickShare()' }
    %ion-icon{ name: 'md-share' }
    공유하기
.post-footer{ '*ngIf': "!isCollection && (hasUpvote() || hasComment())" }
  .post-reaction-info
    %span.post-upvotes-count{ '*ngIf': 'hasUpvote()' }
      공감 {{ post.upvotes_count }}
    %span.middot{ '*ngIf': 'hasUpvote() && hasComment()' }
      &middot;
    %span.post-comments-count{ '*ngIf': 'hasComment()' }
      댓글 {{ post.comments_count }}
    .upvoters{ '*ngIf': "hasUpvote()" }
      .upvote-user{ '*ngFor': 'let user of post.upvote_users.slice(0,8)'}
        .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }", '(click)': 'onClickUser(user)' }
      .more-users{ '*ngIf': "post.upvote_users.length > 8", '(click)': "onClickMoreUsers()" }
        + {{ post.upvote_users.length - 8 }}
  .post-comments{ '*ngIf': "hasComment()" }
    .comment{ '*ngFor': 'let comment of post.comments'}
      .comment-header
        .comment-byline
          .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + comment.user.image_url + ')' }", '(click)': 'onClickUser(comment.user)' }
          .byline-info
            .user-nickname{ '(click)': 'onClickUser(comment.user)' } {{ comment.user.nickname }}
            .comment-created-at
              {{ comment.created_at | partiDateTimeFormatObservable | async }}
      %template{ '[ngIf]': '!comment.is_blinded' }
        .comment-body{ smartBody: true, '[innerHTML]': "comment.body | partiReadMore:comment.truncated_body | partiSimpleFormat:comment", '[class.agreed]': "comment.choice == 'agree'" , '[class.disagreed]': "comment.choice == 'disagree'" }
      %template{ '[ngIf]': 'comment.is_blinded' }
        .comment-body.comment-body-blinded 건강하고 유쾌한 빠띠 활동을 위해 숨겨진 댓글입니다.
.post-footer-in-collection{ '*ngIf': "isCollection && hasComment()"}
  .post-comments
    .comment{ '*ngFor': 'let comment of post.comments.slice(-2)'}
      .comment-header
        .comment-byline
          .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + comment.user.image_url + ')' }", '(click)': 'onClickUser(comment.user)' }
          .byline-info
            .user-nickname{ '(click)': 'onClickUser(comment.user)' } {{ comment.user.nickname }}
            .comment-created-at
              {{ comment.created_at | partiDateTimeFormatObservable | async }}
      %template{ '[ngIf]': '!comment.is_blinded' }
        .comment-body{ smartBody: true, '[innerHTML]': "comment.body | partiReadMore:comment.truncated_body | partiSimpleFormat:comment", '[class.agreed]': "comment.choice == 'agree'" , '[class.disagreed]': "comment.choice == 'disagree'", '(click)': 'onClickPostContent($event)' }
      %template{ '[ngIf]': 'comment.is_blinded' }
        .comment-body.comment-body-blinded 건강하고 유쾌한 빠띠 활동을 위해 숨겨진 댓글입니다.
