page-parties {
  .parti-toolbar {
    ion-toolbar {
      padding: 0;
      ion-segment {
        top: 8px;
        position: relative;
        .segment-button {
          color: $gray-less-light;
          border: 0;
          border-radius: 0;
          height: 40px;
          &.segment-activated {
            color: $gray-dark;
            border-bottom: 3px solid $brand-primary;
            background-color: #fafafa;
            border-radius: 0;
          }
          &:first-of-type {
            padding-left: 18px;
          }
          &:last-of-type {
            padding-right: 18px;
          }
          ion-icon {
            font-size: 16px;
          }
        }
      }
    }
  }
  .select-tag-panel {
    background-color: $gray-more-lightest;
    padding: 12px 12px;
    p {
      margin: 0;
      color: $gray;
      font-size: $font-size-base;
    }
    .tags {
      display: flex;
      margin-top: 12px;
      .tag:first-child {
        margin: 0;
      }
      .tag {
        color: $brand-primary;
        font-size: 16px;
        margin-left: 12px;
      }
    }
  }
  ion-scroll {
    background-color: $gray-more-lightest;
  }
  .list-md {
    margin: 0;
  }
  .parti-list {
    ion-item {
      padding: 0;
      &.item-block{
        .item-inner {
          padding: 0;
          border-bottom: 1px solid $gray-lighter;
        }
      }
      ion-label {
        margin: 12px 0px;
      }
    }
    .parti-item {
      display: flex;
      flex-flow: row nowrap;
      padding: 0 12px 0;
      align-items: center;
      .parti-logo {
        height: 42px;
        width: 42px;
        margin-right: 6px;
        border-radius: 2px;
        @include background-thumbnail();
      }
      .parti-body {
        flex: 1;
        overflow: hidden;
        display: flex;
        flex-flow: column;
        justify-content: center;
        .parti-title {
          font-size: 16px;
          color: $gray-dark;
        }
        .parti-info {
          display: flex;
          padding-top: 6px;
          &--new-post {
            display:flex;
            margin-right: 12px;
            &__icon {
              background-color: $brand-primary;
              font-size: 11px;
              color: #fff;
              padding: 2px 4px 1px;
            }
            &__number {
              padding-left: 3px;
              padding-top: 3px;
              font-size: $font-size-small;
              color: $brand-primary;
            }
          }
          &--new-member {
            display:flex;
            &__icon {
              color: $brand-primary;
              width: 12px;
              height: 12px;
            }
            &__number {
              padding-left: 3px;
              padding-top: 3px;
              font-size: $font-size-small;
              color: $brand-primary;
            }
          }
          &--members {
            color: $gray-less-light;
            font-size: $font-size-small;
          }
          &--posts {
            margin-left: 15px;
            color: $gray-less-light;
            font-size: $font-size-small;
          }
          &--date {
            font-size: $font-size-base;
            color: $gray-less-light;
          }
        }
      }
      .parti-star {
        width: 18px;
        color: $gray-less-light;
      }
      .parti-join-btn {
        width: 42px;
        font-size: $font-size-small;
        padding: 6px 9px;
        border: 1px solid $gray-lighter;
        color: $gray-dark;
        border-radius: 2px;
      }
    }
  }
  .parti-make-panel {
    padding: 12px;
    text-align: center;
    p {
      margin: 0;
      color: $gray-dark;
    }
    .parti-make-btn {
      color: #fff;
      background-color: $brand-primary;
      padding: 10px 12px;
      margin: 10px 120px;
      border-radius: 2px;
    }
  }
}
