%ion-header
  %ion-navbar
    %ion-title {{partiEnvironment.appTitle}}
  .parti-toolbar
    %ion-toolbar{ 'no-border': true }
      %ion-segment{ '[(ngModel)]': 'selection' }
        %ion-segment-button{ value: 'joined' }
          내 빠띠
        %ion-segment-button{ value: 'all' }
          전체 빠띠
%ion-content
  %div.full{ '[hidden]': "selection !== 'joined'" }
    %ion-scroll.full{ scrollY: 'true' }
      .select-group-panel{ '[hidden]': "!has_group" }
        %p 내 그룹
        %ion-scroll{ scrollX: 'true' }
          .groups
            .group{ '*ngFor': 'let group of groups', '(click)': 'onClickGroup(group)' }
              .group-content {{group.name}}
      .parti-list{ '[hidden]': "selection !== 'joined'" }
        %joined-parti-list{ '[parties]': 'parties["joined"]' }
  %div.full{ '[hidden]': "selection !== 'all' && selection!== 'tagged'" }
    %ion-scroll.full{ scrollY: 'true' }
      .select-tag-panel
        %p 관심있는 태그를 선택해 보세요
        %ion-scroll{ scrollX: 'true' }
          .tags
            .tag{ '*ngFor': 'let tag of tags', '(click)': 'onClickTag(tag)' }
              .tag-content
                \# {{tag.name}}
      .parti-list{ '[hidden]': "selection !== 'all'" }
        %parti-list{ '[parties]': 'parties["all"]' }
      .parti-list{ '[hidden]': "selection !== 'tagged'" }
        %parti-list{ '[parties]': 'parties["tagged"]' }

