%ion-header
  %ion-navbar
    %ion-title {{partiEnvironment.appTitle}}
  .parti-toolbar
    %ion-toolbar{ 'no-border': true }
      %ion-segment{ '[(ngModel)]': 'selection' }
        %ion-segment-button{ value: 'joined' }
          내가 가입한 빠띠
        %ion-segment-button{ value: 'making'}
          내가 만든 빠띠
        %ion-segment-button{ value: 'all' }
          전체 빠띠
        %ion-segment-button{ value: 'marked' }
          %ion-icon{ name: 'star' }
          빠띠
%ion-content
  %div.full{ '[hidden]': "selection !== 'joined'" }
    %ion-scroll.full{ scrollY: 'true' }
      .parti-list
        %ion-list
          %template{'[ngIf]': '!parties["joinedOnly"]'}
            %ion-item{ 'text-center': true }
              %ion-spinner
          %template{'[ngIf]': '!!parties["joinedOnly"]'}
            %ion-item{ '*ngFor': 'let parti of parties["joinedOnly"]', '(click)': 'onClickParti(parti)' }
              .parti-item
                .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + parti.logo_url + ')' }" }
                .parti-body
                  .parti-title {{ parti.title }}
                  .parti-info
                    .parti-info--new-post
                      .parti-info--new-post__icon N
                      .parti-info--new-post__number 26
                    .parti-info--new-member
                      .parti-info--new-member__icon
                        %ion-icon{ name: 'person' }
                      .parti-info--new-member__number 12
                    / .parti-info--date
                    /   2016.10.26
                .parti-star
                  %ion-icon{ name: 'star' }
  %div.full{ '[hidden]': "selection !== 'making'"}
    %ion-scroll.full{ scrollY: 'true' }
      %ion-list
        .parti-list
          %template{'[ngIf]': '!parties["making"]'}
            %ion-item{ 'text-center': true }
              %ion-spinner
          %template{'[ngIf]': '!!parties["making"]'}
            %ion-item{ '*ngFor': 'let parti of parties["making"]', '(click)': 'onClickParti(parti)' }
              .parti-item
                .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + parti.logo_url + ')' }" }
                .parti-body
                  .parti-title {{ parti.title }}
                  .parti-info
                    .parti-info--date
                      2016.10.26
      .parti-make-panel
        %p 관심있는 이슈가 없다면, 직접 만들어보세요
        .parti-make-btn
          빠띠 만들기
  %div.full{ '[hidden]': "selection !== 'all'" }
    %ion-scroll.full{ scrollY: 'true' }
      .select-tag-panel
        %p 관심있는 태그를 선택해 보세요
        .tags
          .tag #우주당
          .tag #기본소득
          .tag #정치
          .tag #노동
      %ion-list
        .parti-list
          %template{'[ngIf]': '!parties["all"]'}
            %ion-item{ 'text-center': true }
              %ion-spinner
          %template{'[ngIf]': '!!parties["all"]'}
            %ion-item{ '*ngFor': 'let parti of parties["all"]', '(click)': 'onClickParti(parti)' }
              .parti-item
                .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + parti.logo_url + ')' }" }
                .parti-body
                  .parti-title {{ parti.title }}
                  .parti-info
                    .parti-info--members
                      멤버 123명
                    .parti-info--posts
                      게시글 123개
                .parti-join-btn
                  가입
  %div.full{ '[hidden]': "selection !== 'marked'" }
    %ion-scroll.full{ scrollY: 'true' }
      %ion-list
        %ion-item all 준비중

