<ion-header>
  <ion-navbar>
    <div class='parti-header'>
      <ion-title>{{partiEnvironment.appTitle}}</ion-title>
      <div class='search-btn'>
        <button ion-button>
          <ion-icon name='search'></ion-icon>
        </button>
      </div>
    </div>
  </ion-navbar>
  <div class='parti-toolbar'>
    <ion-toolbar no-border>
      <ion-segment [(ngModel)]='selection'>
        <ion-segment-button value='joined'>
          내 빠띠
        </ion-segment-button>
        <ion-segment-button value='all'>
          전체 빠띠
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div [hidden]="selection !== 'joined'" class='full'>
    <ion-scroll class='full' scrollY='true'>
      <div class='select-tag-or-group-panel'>
        <p>내 그룹</p>
        <div class='groups'>
          <div class='group'>나는 알아야겠당</div>
          <div class='group'>세상을 바꾸는 꿈 - 바꿈</div>
        </div>
      </div>
      <div class='parti-list'>
        <ion-list>
          <ion-item-group>
            <template [ngIf]='!parties["joinedOnly"]'>
              <ion-item text-center>
                <ion-spinner></ion-spinner>
              </ion-item>
            </template>
            <template [ngIf]='!!parties["joinedOnly"]'>
              <ion-item (click)='onClickParti(parti)' *ngFor='let parti of parties["joinedOnly"]'>
                <div class='parti-item'>
                  <div [ngStyle]="{ 'background-image': 'url(' + parti.logo_url + ')' }" class='parti-logo'></div>
                  <div class='parti-body'>
                    <div class='parti-title'>{{ parti.title }}</div>
                    <div class='parti-info'>
                      <div *ngIf='parti.latest_posts_count !== 0' class='parti-info--new-post'>
                        <div class='parti-info--new-post__icon'>N</div>
                        <div class='parti-info--new-post__number'>{{ parti.latest_posts_count }}</div>
                      </div>
                      <div *ngIf='parti.latest_members_count !== 0' class='parti-info--new-member'>
                        <div class='parti-info--new-member__icon'>
                          <ion-icon name='person'></ion-icon>
                        </div>
                        <div class='parti-info--new-member__number'>{{ parti.latest_members_count }}</div>
                      </div>
                      <div *ngIf='parti.latest_posts_count + parti.latest_members_count === 0' class='parti-info--date'>
                        {{ parti.updated_at | partiDateTimeFormatObservable | async }}
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </template>
          </ion-item-group>
          <ion-item-group>
            <template [ngIf]='!parties["making"]'>
              <ion-item text-center>
                <ion-spinner></ion-spinner>
              </ion-item>
            </template>
            <template [ngIf]='!!parties["making"]'>
              <ion-item (click)='onClickParti(parti)' *ngFor='let parti of parties["making"]'>
                <div class='parti-item'>
                  <div [ngStyle]="{ 'background-image': 'url(' + parti.logo_url + ')' }" class='parti-logo'></div>
                  <div class='parti-body'>
                    <div class='parti-title'>{{ parti.title }}</div>
                    <div class='parti-info'>
                      <div *ngIf='parti.latest_posts_count !== 0' class='parti-info--new-post'>
                        <div class='parti-info--new-post__icon'>N</div>
                        <div class='parti-info--new-post__number'>{{ parti.latest_posts_count }}</div>
                      </div>
                      <div *ngIf='parti.latest_members_count !== 0' class='parti-info--new-member'>
                        <div class='parti-info--new-member__icon'>
                          <ion-icon name='person'></ion-icon>
                        </div>
                        <div class='parti-info--new-member__number'>{{ parti.latest_members_count }}</div>
                      </div>
                      <div *ngIf='parti.latest_posts_count + parti.latest_members_count === 0' class='parti-info--date'>
                        {{ parti.updated_at | partiDateTimeFormatObservable | async }}
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </template>
          </ion-item-group>
        </ion-list>
      </div>
      <div class='parti-make-panel'>
        <p>관심있는 이슈가 없다면, 직접 만들어보세요</p>
        <div (click)='onClickPartiMakeBtn()' class='parti-make-btn'>
          빠띠 만들기
        </div>
      </div>
    </ion-scroll>
  </div>
  <div [hidden]="selection !== 'all'" class='full'>
    <ion-scroll class='full' scrollY='true'>
      <div class='select-tag-or-group-panel'>
        <p>관심있는 태그를 선택해 보세요</p>
        <div class='tags'>
          <div class='tag'>#우주당</div>
          <div class='tag'>#기본소득</div>
          <div class='tag'>#정치</div>
          <div class='tag'>#노동</div>
        </div>
      </div>
      <parti-list [parties]='parties["all"]'></parti-list>
    </ion-scroll>
  </div>
</ion-content>
