<ion-header>
  <ion-navbar>
    <ion-title>{{partiEnvironment.appTitle}}</ion-title>
  </ion-navbar>
  <div class='parti-toolbar'>
    <ion-toolbar no-border>
      <ion-segment [(ngModel)]='selection'>
        <ion-segment-button value='joined'>
          내 빠띠
        </ion-segment-button>
        <ion-segment-button value='all'>
          전체 빠띠
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div [hidden]="selection !== 'joined'" class='full'>
    <ion-scroll class='full' scrollY='true'>
      <div [hidden]='!has_group' class='select-group-panel'>
        <p>내 그룹</p>
        <ion-scroll scrollX='true'>
          <div class='groups'>
            <div (click)='onClickGroup(group)' *ngFor='let group of groups' class='group'>
              <div class='group-content'>{{group.name}}</div>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div [hidden]="selection !== 'joined'" class='parti-list'>
        <joined-parti-list [parties]='parties["joined"]'></joined-parti-list>
      </div>
    </ion-scroll>
  </div>
  <div [hidden]="selection !== 'all' &amp;&amp; selection!== 'tagged'" class='full'>
    <ion-scroll class='full' scrollY='true'>
      <div class='select-tag-panel'>
        <p>관심있는 태그를 선택해 보세요</p>
        <ion-scroll scrollX='true'>
          <div class='tags'>
            <div (click)='onClickTag(tag)' *ngFor='let tag of tags' class='tag'>
              <div class='tag-content'>
                # {{tag.name}}
              </div>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div [hidden]="selection !== 'all'" class='parti-list'>
        <parti-list [parties]='parties["all"]'></parti-list>
      </div>
      <div [hidden]="selection !== 'tagged'" class='parti-list'>
        <parti-list [parties]='parties["tagged"]'></parti-list>
      </div>
    </ion-scroll>
  </div>
</ion-content>
