%ion-header
  %ion-navbar
    .parti-header
      %ion-title {{partiEnvironment.appTitle}}
      .search-btn
        %button{ 'ion-button': true }
          %ion-icon{ name: 'search' }
  .parti-toolbar
    %ion-toolbar{ 'no-border': true }
      %ion-segment{ '[(ngModel)]': 'selection' }
        %ion-segment-button{ value: 'joined' }
          내 빠띠
        %ion-segment-button{ value: 'all' }
          전체 빠띠
%ion-content
  %div.full{ '[hidden]': "selection !== 'joined'" }
    %ion-scroll.full{ scrollY: 'true' }
      .select-tag-or-group-panel
        %p 내 그룹
        .groups
          .group 나는 알아야겠당
          .group 세상을 바꾸는 꿈 - 바꿈
      .parti-list
        %ion-list
          %ion-item-group
            %template{'[ngIf]': '!parties["joined"]'}
              %ion-item{ 'text-center': true }
                %ion-spinner
            %template{'[ngIf]': '!!parties["joined"]'}
              %ion-item{ '*ngFor': 'let parti of parties["joined"]', '(click)': 'onClickParti(parti)' }
                .parti-item
                  .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + parti.logo_url + ')' }" }
                  .parti-body
                    .parti-title
                      .parti-title--title {{ parti.title }}
                      .parti-title--maker{ '*ngIf': "parti.is_made_by" } 빠띠 메이커
                    .parti-info
                      .parti-info--new-post{ '*ngIf': "parti.latest_posts_count !== 0"}
                        .parti-info--new-post__icon N
                        .parti-info--new-post__number {{ parti.latest_posts_count }}
                      .parti-info--new-member{ '*ngIf': "parti.latest_members_count !== 0"}
                        .parti-info--new-member__icon
                          %ion-icon{ name: 'person' }
                        .parti-info--new-member__number {{ parti.latest_members_count }}
                      .parti-info--date{ '*ngIf': "parti.latest_posts_count + parti.latest_members_count === 0"}
                        {{ parti.updated_at | partiDateTimeFormatObservable | async }}
      .parti-make-panel
        %p 관심있는 이슈가 없다면, 직접 만들어보세요
        .parti-make-btn{ '(click)': 'onClickPartiMakeBtn()' }
          빠띠 만들기
  %div.full{ '[hidden]': "selection !== 'all'" }
    %ion-scroll.full{ scrollY: 'true' }
      .select-tag-or-group-panel
        %p 관심있는 태그를 선택해 보세요
        .tags
          .tag #우주당
          .tag #기본소득
          .tag #정치
          .tag #노동
      %parti-list{ '[parties]': 'parties["all"]' }

