<ion-header>
  <ion-navbar>
    <div class='parti-header'>
      <ion-title>{{partiEnvironment.appTitle}}</ion-title>
      <div class='search-btn'>
        <button ion-button>
          <ion-icon name='search'></ion-icon>
        </button>
      </div>
    </div>
  </ion-navbar>
  <div class='parti-toolbar'>
    <ion-toolbar no-border>
      <ion-segment [(ngModel)]='selection'>
        <ion-segment-button value='joined'>
          내 빠띠
        </ion-segment-button>
        <ion-segment-button value='all'>
          전체 빠띠
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div [hidden]="selection !== 'joined'" class='full'>
    <ion-scroll class='full' scrollY='true'>
      <div class='select-tag-or-group-panel'>
        <p>내 그룹</p>
        <ion-scroll scrollX='true'>
          <div class='groups'>
            <div (click)='onClickGroup(group)' *ngFor='let group of groups' class='group'>
              <div class='group-content'>{{group.name}}</div>
            </div>
          </div>
        </ion-scroll>
      </div>
      <div class='parti-list'>
        <ion-list>
          <ion-item-group>
            <template [ngIf]='!parties["joined"]'>
              <ion-item text-center>
                <ion-spinner></ion-spinner>
              </ion-item>
            </template>
            <template [ngIf]='!!parties["joined"]'>
              <ion-item (click)='onClickParti(parti)' *ngFor='let parti of parties["joined"]'>
                <div class='parti-item'>
                  <div [ngStyle]="{ 'background-image': 'url(' + parti.logo_url + ')' }" class='parti-logo'></div>
                  <div class='parti-body'>
                    <div class='parti-title'>
                      <div class='parti-title--title'>{{ parti.title }}</div>
                      <div *ngIf='parti.is_made_by' class='parti-title--maker'>빠띠 메이커</div>
                    </div>
                    <div class='parti-info'>
                      <div *ngIf='parti.latest_posts_count !== 0' class='parti-info--new-post'>
                        <div class='parti-info--new-post__icon'>N</div>
                        <div class='parti-info--new-post__number'>{{ parti.latest_posts_count }}</div>
                      </div>
                      <div *ngIf='parti.latest_members_count !== 0' class='parti-info--new-member'>
                        <div class='parti-info--new-member__icon'>
                          <ion-icon name='person'></ion-icon>
                        </div>
                        <div class='parti-info--new-member__number'>{{ parti.latest_members_count }}</div>
                      </div>
                      <div *ngIf='parti.latest_posts_count + parti.latest_members_count === 0' class='parti-info--date'>
                        {{ parti.updated_at | partiDateTimeFormatObservable | async }}
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </template>
          </ion-item-group>
        </ion-list>
      </div>
      <div class='parti-make-panel'>
        <p>관심있는 이슈가 없다면, 직접 만들어보세요</p>
        <div (click)='onClickPartiMakeBtn()' class='parti-make-btn'>
          빠띠 만들기
        </div>
      </div>
    </ion-scroll>
  </div>
  <div [hidden]="selection !== 'all'" class='full'>
    <ion-scroll class='full' scrollY='true'>
      <div class='select-tag-or-group-panel'>
        <p>관심있는 태그를 선택해 보세요</p>
        <ion-scroll scrollX='true'>
          <div class='tags'>
            <div *ngFor='let tag of tags' class='tag'>
              # {{tag.name}}
            </div>
          </div>
        </ion-scroll>
      </div>
      <div class='parti-list'>
        <parti-list [parties]='parties["all"]'></parti-list>
      </div>
    </ion-scroll>
  </div>
</ion-content>
