%ion-header
  %ion-navbar
    .parti-header
      %ion-title {{partiEnvironment.appTitle}}
      .search-btn
        %button{ 'ion-button': true }
          %ion-icon{ name: 'search' }
  .parti-toolbar
    %ion-toolbar{ 'no-border': true }
      %ion-segment{ '[(ngModel)]': 'selection' }
        %ion-segment-button{ value: 'joined' }
          내 빠띠
        %ion-segment-button{ value: 'all' }
          전체 빠띠
%ion-content
  %div.full{ '[hidden]': "selection !== 'joined'" }
    %ion-scroll.full{ scrollY: 'true' }
      .select-group-panel
        %p 내 그룹
        %ion-scroll{ scrollX: 'true' }
          .groups
            .group{ '*ngFor': 'let group of groups', '(click)': 'onClickGroup(group)' }
              .group-content {{group.name}}
      .parti-list
        %ion-list
          %ion-item-group
            %template{'[ngIf]': '!parties["joined"]'}
              %ion-item{ 'text-center': true }
                %ion-spinner
            %template{'[ngIf]': '!!parties["joined"]'}
              %ion-item{ '*ngFor': 'let parti of parties["joined"]', '(click)': 'onClickParti(parti)' }
                .parti-item
                  .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + parti.logo_url + ')' }" }
                  .parti-body
                    .parti-title
                      .parti-title--title {{ parti.title }}
                      .parti-title--maker{ '*ngIf': "parti.is_made_by" } 빠띠 메이커
                    .parti-info
                      .parti-info--new-post{ '*ngIf': "parti.latest_posts_count !== 0"}
                        .parti-info--new-post__icon N
                        .parti-info--new-post__number {{ parti.latest_posts_count }}
                      .parti-info--new-member{ '*ngIf': "parti.latest_members_count !== 0"}
                        .parti-info--new-member__icon
                          %ion-icon{ name: 'person' }
                        .parti-info--new-member__number {{ parti.latest_members_count }}
                      .parti-info--date{ '*ngIf': "parti.latest_posts_count + parti.latest_members_count === 0"}
                        {{ parti.updated_at | partiDateTimeFormatObservable | async }}
  %div.full{ '[hidden]': "selection !== 'all' && selection!== 'tagged'" }
    %ion-scroll.full{ scrollY: 'true' }
      .select-tag-panel
        %p 관심있는 태그를 선택해 보세요
        %ion-scroll{ scrollX: 'true' }
          .tags
            .tag{ '*ngFor': 'let tag of tags', '(click)': 'onClickTag(tag)' }
              .tag-content \# {{tag.name}}
      .parti-list{ '[hidden]': "selection !== 'all'" }
        %parti-list{ '[parties]': 'parties["all"]' }
      .parti-list{ '[hidden]': "selection !== 'tagged'" }
        %parti-list{ '[parties]': 'parties["tagged"]' }

