page-more {
  .setting-list {
    ion-item-divider {
      background-color: $gray-lightest;
      border: none;
      color: $gray-dark;
      border: none;
      padding: 16px 18px 3px;
      font-size: $font-size-small;
    }
    .setting-item {
      display: flex;
      ion-toggle {
        padding: 12px 18px;
        border-bottom: 1px solid $gray-lighter;
      }
    }
    ion-item {
      padding: 0;
      &.item-block{
        .item-inner {
          padding: 0;
          border-bottom: 1px solid $gray-lighter;
        }
      }
      ion-label {
        padding: 12px 18px;
        font-size: $font-size-base;
      }
      .item-button {
        background-color: #fff;
        color: $gray-darker;
        padding: 0;
        margin: 0;
        box-shadow: none;
        font-size: $font-size-base;
      }
    }
    .label-md, .list-md {
      margin: 0;
    }
  }
}
