<ion-header>
  <ion-navbar>
    <ion-title>이메일 초대</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div>
    <div class='help-text'>
      <p>초대할 이메일 주소를 넣어주세요.</p>
    </div>
    <form (ngSubmit)='invite()' [formGroup]='invitationForm'>
      <div formArrayName='emails'>
        <div *ngFor='let email of emailArray.controls; let i=index'>
          <ion-item>
            <ion-input [formControlName]='i' placeholder='예) red@test.com' type='email'></ion-input>
            <button (click)='removeEmailControl(i)' clear item-right>
              <ion-icon name='close'></ion-icon>
            </button>
            <p *ngIf='email.hasError("invalidEmail") &amp;&amp; email.touched'>
              * 올바른 이메일이 아니네요.
            </p>
          </ion-item>
        </div>
        <ion-item>
          <button (click)='addEmailControl($event)' ion-button>추가</button>
        </ion-item>
      </div>
      <div>
        <button [disabled]='!invitationForm.valid' block ion-button type='submit'>보내기</button>
      </div>
    </form>
  </div>
</ion-content>
