%ion-header
  %ion-navbar
    %ion-title 이메일 초대
    .invite-btn
      %button{ 'ion-button': true, block: true, type: 'submit', '[disabled]': '!invitationForm.valid' } 초대
%ion-content{ 'padding': true }
  %form{ '[formGroup]': 'invitationForm', '(ngSubmit)': 'invite()' }
    %div{ 'formArrayName': 'emails' }
      %div{ '*ngFor': 'let email of emailArray.controls; let i=index' }
        %ion-item
          %ion-input{ '[formControlName]': 'i', type: 'email', placeholder: '이메일 주소를 넣어주세요' }
          .remove-email-btn{ clear: true,  'item-right': true }
            %button{ '(click)': 'removeEmailControl(i)' }
              %ion-icon{ name: 'close' }
          }
          %p{ '*ngIf': 'email.hasError("invalidEmail") && email.touched'}
            * 올바른 이메일이 아니네요.
      .add-email-btn
        %ion-item
          %button{ 'ion-button': true, '(click)': 'addEmailControl($event)' } 추가
