%ion-tabs{ '#tabs': true }
  %ion-tab{ '[root]': 'homeRoot', tabTitle: '타임라인', tabIcon: 'list-box' }
  %ion-tab{ '[root]': 'partiesRoot', tabTitle: '빠띠', tabIcon: 'parti' }
  %ion-tab{ '[root]': 'homeRoot', tabTitle: '', tabIcon: 'create' }
  %ion-tab{ '[root]': 'messagesRoot', tabTitle: '알림', tabIcon: 'notifications' }
  %ion-tab{ '[root]': 'profileRoot', tabTitle: '계정', tabIcon: 'person' }
  %ion-tab{ '[show]': 'false', '#deepLinkTab': true }
