.tabs-md {
  .tab-button {
    padding: 0;
    color: $gray-less-lighter;
    .tab-button-icon {
      color: $gray-less-lighter;
    }
    .ion-md-parti:before{
      content: url('../assets/images/icon_parti_tab.png');
    }
  }
  .tab-button[aria-selected=true] {
    padding: 0;
    color: $gray;
    font-size: $font-size-small;

    .tab-button-icon {
      color: $gray;
    }
    #tab-t0-2 {
      padding: 0 10px;
    }
    .tab-button-text {
      -webkit-transform: none;
      transform: none;
    }
    .ion-md-parti:before{
      content: url('../assets/images/icon_parti_tab_active.png');
    }
  }
}
.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text {
  margin-top: -12px;
  margin-bottom: 6px;
  color: $gray;
  font-size: $font-size-small;
  transform: scale(.85);
}
.ion-md-create{
  margin-top: -5px;
  &:before {
    background-color: $brand-primary;
    border-radius: 50%;
    width: 42px;
    height: 34px;
    padding-top: 8px;
    color: #fff;
  }
}
