%ion-tabs{ '#tabs': true }
  %ion-tab{ '[root]': 'homeRoot', tabTitle: '타임라인', tabIcon: 'list-box' }
  %ion-tab{ '[root]': 'partiesRoot', tabTitle: '빠띠', tabIcon: 'information-circle' }
  %ion-tab{ '[root]': 'messagesRoot', tabTitle: '알림', tabIcon: 'notifications' }
  %ion-tab{ '[root]': 'moreRoot', tabTitle: '더보기', tabIcon: 'more' }
  %ion-tab{ '[show]': 'false', '#deepLinkTab': true }
