%span.upvote-button{ '(click)': 'onClickUpvoteButton()', '#upvoteButton': true, '[class.upvoted]': '!post.is_upvotable', '[class.upvotable]': 'post.is_upvotable', '*ngIf': '!isLoading' }
  %ion-icon{ name: 'heart' }
  {{ post.upvotes_count > 0 ? post.upvotes_count : '좋아요' }}
%ion-spinner{ '*ngIf': 'isLoading' }
