<ion-header>
  <ion-navbar>
    <ion-title>{{ pageTitle() }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class='ion-parti'>
  <div *ngIf='isLoading()' class='spinner-center-wrapper'>
    <ion-spinner></ion-spinner>
  </div>
  <template [ngIf]='!isLoading()'>
    <div class='cover'>
      <div [ngStyle]="{ 'background-image': 'url(' + parti.logo_url + ')' }" class='parti-logo'></div>
      <div class='parti-title'>{{ parti.title }}</div>
      <template [ngIf]='!parti.is_member'>
        <button (click)='onClickJoinParti()' ion-button>가입하기</button>
      </template>
      <template [ngIf]='parti.is_member &amp;&amp; !parti.is_made_by'>
        <button (click)='onClickJoinedParti($event)' ion-button>
          가입함
          <ion-icon name='arrow-dropdown'></ion-icon>
        </button>
      </template>
      <template [ngIf]='parti.is_made_by'>
        <button ion-button>
          빠띠메이커
        </button>
      </template>
    </div>
    <parti-post-panel *ngFor='let post of posts' [isCollection]='true' [post]='post' class='post'></parti-post-panel>
    <ion-infinite-scroll #infiniteScroll (ionInfinite)='loadMore($event)'>
      <ion-infinite-scroll-content loadingSpinner='bubbles'></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </template>
</ion-content>
