page-parti-home {
  parti-post-panel {
    margin-top: 12px;
    &:first-child {
      margin: 0;
    }
  }

  .cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .parti-logo {
      height: 30px;
      width: 30px;
      @include background-thumbnail();
    }
  }
}
