%ion-header
  %ion-navbar
    %ion-title {{ pageTitle() }}
%ion-content.ion-parti
  .spinner-center-wrapper{ '*ngIf': 'isLoading()' }
    %ion-spinner
  %template{ '[ngIf]': '!isLoading()'}
    %parti-post-panel.post{ '[post]': 'post', '*ngFor': 'let post of posts', '[isCollection]': 'true' }
    %ion-infinite-scroll{ '(ionInfinite)': 'loadMore($event)', '#infiniteScroll': true }
      %ion-infinite-scroll-content{ loadingSpinner: "bubbles" }
