<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button (click)='dismiss()' ion-button>
        <ion-icon name='close'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="from == 'parti-home'" class='title-member'>멤버 {{ parti.members_count }}명</div>
      <div *ngIf="from == 'post-poll' &amp;&amp; choice == 'agree'" class='title-member'>찬성 멤버 {{ post.poll.agreed_votings_count }}명</div>
      <div *ngIf="from == 'post-poll' &amp;&amp; choice == 'disagree'" class='title-member'>반대 멤버 {{ post.poll.disagreed_votings_count }}명</div>
      <div *ngIf="from == 'post-upvotes'" class='title-member'>공감한 멤버 {{ post.upvotes_count }}명</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item *ngFor='let userAction of userActions'>
      <div class='member'>
        <div (click)='onClickUser(userAction.user)' [ngStyle]="{ 'background-image': 'url(' + userAction.user.image_url + ')' }" class='member-image'></div>
        <div (click)='onClickUser(userAction)' class='member-name'>{{ userAction.user.nickname }}</div>
        <div *ngIf="from == 'parti-home' &amp;&amp; userAction.is_maker" class='member-maker'>빠띠메이커</div>
      </div>
    </ion-item>
    <ion-infinite-scroll #infiniteScroll (ionInfinite)='loadMore($event)'>
      <ion-infinite-scroll-content loadingSpinner='bubbles'></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
