page-members {
  .list-md {
    .item-block {
      padding-left: 9px;
      .item-inner {
        border: none;
        .label-md {
          margin: 8px 0;
        }
      }
      &:first-of-type,
      &:last-of-type {
        border: none;
      }
    }
  }
  .member {
    display: flex;
    .member-image {
      background-image: url(https://catan-file.s3.amazonaws.com/uploads/user/0/sm_bbaf990a97.jpg);
      height: 36px;
      width: 36px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    .member-name {
      padding-top: 5px;
      margin-left: 12px;
    }
    .member-maker {
      padding-top: 8px;
      margin-left: 5px;
      color: $brand-primary;
      font-size: $font-size-small;
    }
  }
}
