%ion-header
  %ion-toolbar
    %ion-buttons{ 'start': true}
      %button{ 'ion-button': true, '(click)': 'dismiss()' }
        %ion-icon{ name: 'close' }
    %ion-title
      .title-member{ '*ngIf': "from == 'parti-home'" } 멤버 {{ parti.members_count }}명
      .title-member{ '*ngIf': "from == 'post-poll' && choice == 'agree'" } 찬성 멤버 {{ post.poll.agreed_votings_count }}명
      .title-member{ '*ngIf': "from == 'post-poll' && choice == 'disagree'" } 반대 멤버 {{ post.poll.disagreed_votings_count }}명
      .title-member{ '*ngIf': "from == 'post-upvotes'" } 공감한 멤버 {{ post.upvotes_count }}명
%ion-content{ 'padding': true }
  %ion-list
    %ion-item{ '*ngFor': 'let userAction of userActions' }
      .member
        .member-image{ '[ngStyle]': "{ 'background-image': 'url(' + userAction.user.image_url + ')' }", '(click)': 'onClickUser(userAction.user)' }
        .member-name{ '(click)': 'onClickUser(userAction)' } {{ userAction.user.nickname }}
        .member-maker{ '*ngIf': "from == 'parti-home' && userAction.is_maker" } 빠띠메이커
    %ion-infinite-scroll{ '(ionInfinite)': 'loadMore($event)', '#infiniteScroll': true }
      %ion-infinite-scroll-content{ loadingSpinner: "bubbles" }
