<div class='parti-list'>
  <template [ngIf]='!parties'>
    <ion-item text-center>
      <ion-spinner></ion-spinner>
    </ion-item>
  </template>
  <template [ngIf]='!!parties'>
    <ion-item (click)='onClickParti(parti)' *ngFor='let parti of parties'>
      <div class='parti-item'>
        <div [ngStyle]="{ 'background-image': 'url(' + parti.logo_url + ')' }" class='parti-logo'></div>
        <div class='parti-body'>
          <div class='parti-title'>{{ parti.title }}</div>
          <div class='parti-info'>
            <div class='parti-info--members'>
              멤버 {{ parti.members_count }}명
            </div>
            <div class='parti-info--posts'>
              게시글 {{ parti.posts_count }}개
            </div>
          </div>
        </div>
        <template [ngIf]='!parti.is_member'>
          <div class='parti-join-btn'>
            <button ion-button>
              가입
            </button>
          </div>
        </template>
        <template [ngIf]='parti.is_member &amp;&amp; !parti.is_made_by'>
          <div class='parti-joined-btn'>
            <ion-icon name='checkmark'></ion-icon>
          </div>
        </template>
        <template [ngIf]='parti.is_made_by'></template>
      </div>
    </ion-item>
  </template>
</div>
