development:
  twitterConsumerSecret: "x"
  twitterConsumerKey: "x"
  fabricKey: "x"
staging:
  twitterConsumerSecret: "x"
  twitterConsumerKey: "x"
  fabricKey: "x"
production:
  twitterConsumerSecret: "x"
  twitterConsumerKey: "x"
  fabricKey: "x"
