%ion-header{ 'no-shadow': true, '[shrinkage]': 'content', '[target]': 'cover', '[scrolls]': '[partiesScroll, postsScroll]', '(onShrinked)': 'onShrinked($event)', '(onExtended)': 'onExtended($event)' }
  %ion-navbar{ 'no-border': true }
    %ion-title{ '(click)': 'onClickExtendCover()' }
      .title{'[@fadeInOut]': 'titleState'}
        {{user.nickname}}
        %ion-icon{ name: 'ios-arrow-dropdown' }
      .settings-btn{ '[hidden]': "!isMe" }
        %ion-icon{ name: 'settings', '(click)': 'onClickSettings()' }
  .profile-toolbar
    %ion-toolbar{ 'no-border': true }
      .cover{ '#cover': true }
        .cover-top
          .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + user.image_url + ')' }" }
        .cover-bottom
          .user-nickname {{user.nickname}}
          .user-edit-btn{ '[hidden]': "!isMe" } 프로필 수정
      %ion-segment{ '[(ngModel)]': 'selection' }
        %ion-segment-button{ value: 'parties' }
          내 빠띠
        %ion-segment-button{ value: 'posts' }
          내가 쓴 글
%ion-content
  %div.full{ '[hidden]': "selection !== 'parties'" }
    %ion-scroll.full{ scrollY: 'true', '#partiesScroll': true }
      %joined-parti-list{ '[parties]': 'parties' }
  %div.full{ '[hidden]': "selection !== 'posts'" }
    %ion-scroll.full{ scrollY: 'true', '#postsScroll': true }
      .post-list
        .spinner-center-wrapper{ '*ngIf': '!posts' }
          %ion-spinner
        %template{ '[ngIf]': '!!posts'}
          %ion-item{ '*ngFor': 'let post of posts' }
            .post-item
              .post-info
                .post-info--parti {{ post.parti.title }}
                .post-info--date {{ post.created_at | partiDateTimeFormatObservable | async }}
              .post-desc
                {{ post.specific_desc_striped_tags }}
              .post-footer{ '*ngIf': 'post.upvotes_count > 0 || post.comments_count > 0' }
                .post-reaction-info
                  %span.post-upvotes-count{ '*ngIf': 'post.upvotes_count > 0' }
                    공감 {{ post.upvotes_count }}
                  %span.post-comments-count{ '*ngIf': 'post.comments_count > 0' }
                    댓글 {{ post.comments_count }}
          %template{ '[ngIf]': 'hasMorePost'}
            %ion-infinite-scroll{ '(ionInfinite)': 'loadMorePosts($event)', '#infiniteScroll': true }
              %ion-infinite-scroll-content{ loadingSpinner: "bubbles" }
