<ion-header (onExtended)='onExtended($event)' (onShrinked)='onShrinked($event)' [scrolls]='[partiesScroll, postsScroll]' [shrinkage]='content' [target]='cover' no-shadow>
  <ion-navbar no-border>
    <ion-title (click)='onClickExtendCover()'>
      <div [@fadeInOut]='titleState' class='title'>
        {{user.nickname}}
        <ion-icon name='ios-arrow-dropdown'></ion-icon>
      </div>
      <div [hidden]='!isMe' class='settings-btn'>
        <ion-icon (click)='onClickSettings()' name='settings'></ion-icon>
      </div>
    </ion-title>
  </ion-navbar>
  <div class='profile-toolbar'>
    <ion-toolbar no-border>
      <div #cover [hidden]="titleState === 'in'" class='cover'>
        <div class='cover-top'>
          <div [ngStyle]="{ 'background-image': 'url(' + user.image_url + ')' }" class='user-image'></div>
        </div>
        <div class='cover-bottom'>
          <div class='user-nickname'>{{user.nickname}}</div>
          <div (click)='onClickProfileEditBtn()' [hidden]='!isMe' class='user-edit-btn'>프로필 수정</div>
        </div>
      </div>
      <ion-segment [(ngModel)]='selection'>
        <ion-segment-button value='parties'>
          <div [hidden]='!isMe' class='segment-button-content'>내 빠띠</div>
          <div [hidden]='isMe' class='segment-button-content'>가입한 빠띠</div>
        </ion-segment-button>
        <ion-segment-button value='posts'>
          <div [hidden]='!isMe' class='segment-button-content'>내가 쓴 글</div>
          <div [hidden]='isMe' class='segment-button-content'>게시글</div>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </div>
</ion-header>
<ion-content>
  <div [hidden]="selection !== 'parties'" class='full'>
    <ion-scroll #partiesScroll class='full' scrollY='true'>
      <joined-parti-list [parties]='parties'></joined-parti-list>
    </ion-scroll>
  </div>
  <div [hidden]="selection !== 'posts'" class='full'>
    <ion-scroll #postsScroll class='full' scrollY='true'>
      <div class='post-list'>
        <div *ngIf='!posts' class='spinner-center-wrapper'>
          <ion-spinner></ion-spinner>
        </div>
        <template [ngIf]='!!posts'>
          <ion-item (click)='onClickPost(post)' *ngFor='let post of posts'>
            <div class='post-item'>
              <div class='post-info'>
                <div class='post-info--parti'>{{ post.parti.title }}</div>
                <div class='post-info--date'>{{ post.created_at | partiDateTimeFormatObservable | async }}</div>
              </div>
              <div class='post-desc'>
                {{ post.specific_desc_striped_tags }}
              </div>
              <div *ngIf='post.upvotes_count &gt; 0 || post.comments_count &gt; 0' class='post-footer'>
                <div class='post-reaction-info'>
                  <span *ngIf='post.upvotes_count &gt; 0' class='post-upvotes-count'>
                    공감 {{ post.upvotes_count }}
                  </span>
                  <span *ngIf='post.comments_count &gt; 0' class='post-comments-count'>
                    댓글 {{ post.comments_count }}
                  </span>
                </div>
              </div>
            </div>
          </ion-item>
          <template [ngIf]='hasMorePost'>
            <ion-infinite-scroll #infiniteScroll (ionInfinite)='loadMorePosts($event)'>
              <ion-infinite-scroll-content loadingSpinner='bubbles'></ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </template>
        </template>
      </div>
    </ion-scroll>
  </div>
</ion-content>
