%ion-content{ '#content': true }
  %ion-row
    %ion-col{ 'width-80': true }
      .user-info
        .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + myselfData.imageUrl + ')' }" }
        .user-nickname {{ myselfData.nickname }}
    %ion-col.close-button{ 'width-20': true }
      %button{ 'ion-button': true, 'icon-only': true, clear: true, color: 'dark', small: true, '(click)': 'dismiss()' }
        %ion-icon{ name: 'md-close' }
  %form{ '[formGroup]': 'postForm', '(ngSubmit)': 'save()' }
    .select-parti
      %ion-item{ '[hidden]': '!!parties' }
        .select-parti--before-select
          .select-parti--before-select__text
            가입한 빠띠를 가져오는 중입니다
          .select-parti--before-select__spinner
            %ion-spinner
      %ion-item{ '[hidden]': '!parties', '(click)': 'onClickPartiSelect()' }
        %span{ '*ngIf': '!parti'}
          .select-parti--select
            .select-parti--select__text
              이야기 나눌 빠띠를 골라 주세요
            .select-parti--select__icon
              %ion-icon{ name: 'arrow-dropdown' }
        %span{ '*ngIf': '!!parti'}
          .select-parti--after-select
            .select-parti--after-select__text
              {{ parti.title }}
            .select-parti--after-select__icon
              %ion-icon{ name: 'arrow-dropdown' }
    .post
      %ion-item
        %ion-textarea{ 'formControlName': 'body', placeholder: "무슨 이야기를 나누실래요?" }
      %ion-item{ '[hidden]': 'referenceTypeName() != "LinkSource"' }
        %ion-input{ type: 'url', 'formControlName': 'link', placeholder: 'URL을 입력하거나 붙여넣으세요', autocapitalize: 'off', 'clearInput': true, 'class': 'link-reference' }
      %ion-item{ '[hidden]': 'referenceTypeName() != "Poll"' }
        %ion-input{ type: 'text', 'formControlName': 'poll', placeholder: '찬반투표 제목을 넣어 주세요', 'class': 'poll' }
      %ion-item{ '*ngIf': 'referenceTypeName() == "FileSource"' }
        %img{'[src]': "imageSrc" }
%ion-footer
  %ion-toolbar
    %ion-buttons{ 'left': true }
      .post-btns
        %button{ 'ion-button': true, '(click)': 'onClickCamera()' }
          %ion-icon{ 'name': 'ios-camera-outline' }
        %button{ 'ion-button': true, '(click)': 'onClickGallery()' }
          %ion-icon{ 'name': 'ios-image-outline' }
        %button{ 'ion-button': true, '(click)': 'onClickLink()' }
          %ion-icon{ 'name': 'ios-link-outline' }
        %button{ 'ion-button': true, '(click)': 'onClickPoll()' }
          %ion-icon{ 'name': 'poll'}
    %ion-buttons{ 'right': true }
      .submit-btn
        %button{ 'ion-button': true, type: 'submit', '[disabled]': '!parti || !postForm.valid', '(click)': 'save()' } 게시

