<ion-header>
  <ion-navbar>
    <ion-title>{{partiEnvironment.appTitle}}</ion-title>
    <ion-buttons end>
      <button (click)='onClickBug()' icon-only ion-button>
        <ion-icon name='ios-bug'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class='ion-parti'>
  <div *ngIf='!posts' class='spinner-center-wrapper'>
    <ion-spinner></ion-spinner>
  </div>
  <template [ngIf]='!!posts'>
    <parti-post-panel *ngFor='let post of posts' [isCollection]='true' [post]='post' class='post'></parti-post-panel>
    <template [ngIf]='hasMorePost'>
      <ion-infinite-scroll #infiniteScroll (ionInfinite)='loadMore($event)'>
        <ion-infinite-scroll-content loadingSpinner='bubbles'></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </template>
  </template>
</ion-content>
