%ion-header
  %ion-navbar
    %ion-title {{partiEnvironment.appTitle}}
    %ion-buttons{ 'end': true }
      %button{ 'icon-only': true, 'ion-button': true, '(click)': 'onClickBug()' }
        %ion-icon{ name: 'ios-bug' }
%ion-content.ion-parti
  .spinner-center-wrapper{ '*ngIf': '!posts' }
    %ion-spinner
  %template{ '[ngIf]': '!!posts'}
    %parti-post-panel.post{ '[post]': 'post', '*ngFor': 'let post of posts', '[isCollection]': 'true' }
    %template{ '[ngIf]': 'hasMorePost'}
      %ion-infinite-scroll{ '(ionInfinite)': 'loadMore($event)', '#infiniteScroll': true }
        %ion-infinite-scroll-content{ loadingSpinner: "bubbles" }

