%ion-header
  %ion-navbar
    %ion-title {{partiEnvironment.appTitle}}
%ion-content
  %h2 어서오세요! {{myselfData.nickname}}님
  %ion-list(text-wrap)
    %ion-list-header
      내 홈
    %ion-item{ '*ngFor': 'let partiPost of partiPosts' }
      %ion-row.parti
        %ion-col(with-10)
          %img(src="{{ partiPost.parti.logo_url }}")
        %ion-col.parti-title(width-90)
          {{ partiPost.parti.title }}
          %span.group{ '*ngIf': 'partiPost.parti.group' }
            <
            {{ partiPost.parti.group.name }}
      .post-title
        {{ partiPost.title }}
      .post-body{ '[innerHTML]': "partiPost.body | simpleFormat " }

