%ion-header
  %ion-navbar
    %ion-title {{partiEnvironment.appTitle}}
%ion-content.ion-parti
  %h2 어서오세요! {{myselfData.nickname}}님
  %ion-list{ 'text-wrap': true }
    %ion-list-header
      내 홈
    %ion-item.ion-parti{ '*ngFor': 'let post of posts' }
      .post
        .post-parti
          .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + post.parti.logo_url + ')' }" }
          .parti-title {{ post.parti.title }}
          .parti-group{ '*ngIf': 'post.parti.group' }
            <
            {{ post.parti.group.name }}
        .post-head
          %parti-post-byline{ '[post]': 'post' }
        .post-title
          {{ post.title }}
        .post-body{ '[innerHTML]': "post.body | partiSimpleFormat " }
        .post-comments
          .comment{ '*ngFor': 'let comment of post.comments' }
            .comment-header
              .comment-byline
                .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + comment.user.image_url + ')' }" }
                .user-nickname {{ comment.user.nickname }}
                .comment-created-at
                  {{ comment.created_at | partiDateTimeFormatObservable | async }}
            .comment-body{ '[innerHTML]': "comment.body | partiSimpleFormat " }
  %ion-infinite-scroll{ '(ionInfinite)': "loadMore($event)" }
    %ion-infinite-scroll-content{ loadingSpinner: "bubbles" }

