%ion-header
  %ion-navbar
    %ion-title {{partiEnvironment.appTitle}}
%ion-content
  %h2 어서오세요! {{myselfData.nickname}}님
  %ion-list(text-wrap)
    %ion-list-header
      내 홈
    %ion-item{ '*ngFor': 'let post of posts' }
      %ion-row.parti
        %ion-col(with-10)
          %img(src="{{ post.parti.logo_url }}")
        %ion-col.parti-title(width-90)
          {{ post.parti.title }}
          %span.group{ '*ngIf': 'post.parti.group' }
            <
            {{ post.parti.group.name }}
      .post-title
        {{ post.title }}
      .post-body{ '[innerHTML]': "post.body | simpleFormat " }

