<ion-content class='sign-up-container'>
  <div class='sign-up-title'>
    빠띠에서 당신의 이름이 될
    <br>
    멋진 아이디를 만들어주세요.
  </div>
  <form (ngSubmit)='signUp()' [formGroup]='signUpForm' class='sign-up-form'>
    <ion-item>
      <span>{{ nicknameField.status }}</span>
      <ion-input formControlName='nickname' placeholder='빠띠에서 사용 할 아이디' type='text'></ion-input>
    </ion-item>
    <div class='nickname-help-block'>
      한글, 알파벳, 숫자, _만 가능합니다
    </div>
    <ion-item *ngIf='nicknameField.hasError("found") &amp;&amp; nicknameField.touched' no-lines>
      <p>* 이미 다른 회원이 사용 중인 아이디입니다.</p>
    </ion-item>
    <ion-item *ngIf='needEmail'>
      <ion-input formControlName='email' placeholder='이메일' type='email'></ion-input>
    </ion-item>
    <ion-item *ngIf='emailField.hasError("invalidEmail") &amp;&amp; emailField.touched' no-lines>
      <p>* 올바른 이메일 형식이 아니예요.</p>
    </ion-item>
  </form>
  <div class='sign-up-next-help-block'>
    <div class='flex-conatiner'>
      "계속하기"를 클릭하면
      <span><span (click)='onClickToWebBtn("http://parti.xyz/terms")'>이용약관</span>과
      </span><span><span (click)='onClickToWebBtn("http://parti.xyz/privacy")'>
        개인정보처리정책
      </span>
      의 내용을 이해하고 동의하게 됩니다.</span></div>
  </div>
  <div class='sign-up-next-button'>
    <button (click)='signUp()' [disabled]='!signUpForm.valid' block ion-button>계속하기</button>
  </div>
</ion-content>
