.byline{ '*ngIf': 'post' }
  .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + post.user.image_url + ')' }" }
  .byline-info
    .user-nickname {{ post.user.nickname }}
    .post-created-at
      {{ post.created_at | partiDateTimeFormatObservable | async }}
