parti-post-byline {
  .user-image {
    height: 20px;
    width: 20px;
    background-repeat: none;
    background-position: center;
    background-size: contain;
    vertical-align: middle;
  }
  .user-image,
  .user-nickname,
  .post-created-at {
    display: inline-block;
  }
}
