// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #161616;
$background-color:  #fff;

$font-size-small:         12px;
$font-size-base:          14px;
$font-size-large:         18px;


$gray-base:              #000;
$gray-darker:            #161616;
$gray-dark:              #44444a;
$gray:                   #777777;
$gray-light:             #aaaaaf;
$gray-less-lighter:      #d2d2d2;
$gray-lighter:           #eaeaeb;
$gray-lightest:          #f3f3f7;
$gray-more-lightest:     #f9f9f9;

$brand-primary:         #966fd6;
$brand-primary-light:   lighten($brand-primary, 30%); // #e3bcff
$brand-primary-lighter: #f1ebfb;
$brand-primary-dark:    darken($brand-primary, 20%); // #633ca3
$brand-primary-darker:  darken($brand-primary, 40%); // #300970

$brand-success:         #59baa3;
$brand-success-dark:    #367264;
$brand-info:            #66b7e1;
$brand-warning:         #ffc152;
$brand-danger:          #f0646d;
$brand-danger-dark:     #c0575d;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

$ionicons-font-path: "../assets/fonts";
@import "ionicons";
