%ion-header
  %ion-navbar
    %ion-title
      .parti-info
        %span.parti-title {{ post.parti.title }}
        %span.parti-group{ '*ngIf': 'post.parti.group' }
          <
          {{ post.parti.group.name }}
    %ion-buttons{ 'end': true }
      %button{ 'ion-button': true, clear: true, '(click)': 'onClickParti(post.parti)' }
        빠띠 보기

%ion-content{ '#content': true }
  %parti-post-panel{ '[post]': 'post', '[isCollection]': 'false', '[isPartiHome]': 'false', '(onAddComment)': 'setFocusCommentForm($event)', '[ngStyle]': "{ 'box-shadow': 'none' }" }

%ion-footer{ '[keyboardAttach]': 'content' }
  %ion-toolbar
    %form{ '[formGroup]': 'commentForm', '(ngSubmit)': 'save()' }
      .container
        %ion-item
          %ion-textarea{ 'formControlName': 'body', '#inputCommentBody': true, 'rows': 1, 'fz-elastic': true, placeholder: "댓글을 입력해주세요." }
        %button{ type: 'submit', '[disabled]': '!commentForm.valid' } 게시

