page-post {
  ion-header {
    ion-navbar {
      height: 42px !important;
      padding-bottom: 0 !important;
      min-height: 0 !important;
    }
    ion-title {
      text-align: center;
      .toolbar-title {
        display: flex;
        .parti-info {
          flex: 1;
          font-size: $font-size-large;
          color: $gray-dark;
          font-weight: bold;
          overflow: hidden;
          vertical-align: text-bottom;
          white-space: nowrap;
          text-overflow: ellipsis;

          .parti-title {
          }
          .parti-group {
          }
        }
        .parti-home-link {
          font-size: $font-size-base;
          color: $gray-light;
          align-self: flex-end;
          width: 46px;
          margin-top: 6px;
        }
      }
    }
  }
  ion-footer {
    .toolbar {
      padding: 7px 4px;
    }
    .container {
      display: flex;
      flex-flow: row nowrap;
      .item {
        flex: 1;
        margin-left: 8px;
        border: 1px solid $gray-less-lighter;
        .item-inner {
          border-bottom: none !important;
          box-shadow: none !important;
          .text-input {
            font-size: 14px;
          }
        }
      }
      button {
        height: 30px;
        width: 50px;
        margin-left: 6px;
        margin-right: 8px;
        align-self: flex-end;
        background-color: $brand-primary;
        color: #fff;
        border-radius: $border-radius;
      }
    }
  }
  .scroll-content {
    background-color: $gray-lighter;
  }
}
