%ion-header
  %ion-navbar
    %ion-title
      .parti-info
        .parti-title {{ post.parti.title }}
        .parti-group{ '*ngIf': 'post.parti.group' }
          <
          {{ post.parti.group.name }}
      .parti-home-link{'(click)': 'onClickParti(post.parti)'}
        빠띠 보기

%ion-content{ '#content': true }
  %parti-post-panel{ '[post]': 'post', '[isCollection]': 'false' }

%ion-footer{ '[keyboardAttach]': 'content' }
  %ion-toolbar
    %form{ '[formGroup]': 'commentForm', '(ngSubmit)': 'save()' }
      .container
        %ion-item
          %ion-textarea{ 'formControlName': 'body', '#inputCommentBody': true, 'rows': 1, 'fz-elastic': true, placeholder: "댓글을 입력해주세요." }
        %button{ type: 'submit', '[disabled]': '!commentForm.valid' } 게시

