%ion-header
  %ion-navbar
    %ion-title {{ postBodyOrTitle() }}
%ion-content{ 'padding': true, '#content': true }
  %parti-post-panel{ '[post]': 'post', '[isCollection]': 'false' }

%ion-footer{ '[keyboardAttach]': 'content' }
  %ion-toolbar
    %form{ '[formGroup]': 'commentForm', '(ngSubmit)': 'save()' }
      %ion-item
        %ion-textarea{ 'formControlName': 'body', '#inputCommentBody': true, 'fz-elastic': true, placeholder: "댓글을 입력하세요!..." }
      %button{ 'ion-button': true, block: true, type: 'submit', '[disabled]': '!commentForm.valid' } 게시

