%ion-slides{ '[options]': "mySlideOptions" }
  %ion-slide.intro-slide-base
    .intro-logo
      %img{ src: 'assets/images/icon-parti.png' }
    .intro-title
      함께 만드는
      %br
      온라인 광장 빠띠
  %ion-slide.intro-slide-sub.intro-slide1
    .intro-title
      덕업일치를 위한 오픈 커뮤니티
      %br
      그동안 함께할 사람이 없어 많이 외로웠죠?
  %ion-slide.intro-slide-sub.intro-slide2
    .intro-title
      비슷한 취향과 성향을 가진 사람끼리 모여
      %br
      파티하듯 빠띠를 만들고 초대해보세요.
  %ion-slide.intro-slide-sub.intro-slide3
    .intro-title
      내 타임라인에서 업데이트되는 빠띠 소식
      %br
      가입한 빠띠에 일일이 들어가지 않아도
      %br
      멤버들의 소식을 볼 수 있고,
  %ion-slide.intro-slide-sub.intro-slide4
    .intro-title
      느슨하게 연결된, 열린 커뮤니티
      %br
      주제만 통한다면 가입하지 않은 빠띠에서도
      %br
      자유롭게 소통할 수 있어요.
.intro-button
  %button{ 'ion-button': true, 'light': true, '(click)': 'goToHome()', color: 'background' } 시작하기
