%ion-header
  %ion-navbar
    %ion-title 아이디 초대
    .invite-btn
      %button{ 'ion-button': true, block: true, type: 'submit', '[disabled]': '!invitationForm.valid' } 초대
%ion-content{ 'padding': true }
  %form{ '[formGroup]': 'invitationForm', '(ngSubmit)': 'invite()' }
    %div{ 'formArrayName': 'nicknames' }
      %div{ '*ngFor': 'let nickname of nicknameArray.controls; let i=index' }
        %ion-item
          %ion-input{ '[formControlName]': 'i', type: 'text', placeholder: '빠띠 아이디를 넣어주세요' }
          .remove-email-btn{ clear: true,  'item-right': true }
            %button{ '(click)': 'removeNicknameControl(i)' }
              %ion-icon{ name: 'close' }
        .nickname-status
          %ion-item{ '[hidden]': 'nickname.status != "VALID"' }
            %p 유효한 아이디입니다
          %ion-item{ '[hidden]': 'nickname.status != "INVALID"' }
            %p 잘못된 아이디입니다
        %ion-item{ 'no-lines': true, '*ngIf': 'nickname.hasError("notFound") && nickname.touched' }
          %p
            * 찾을 수 없는 아이디네요.
      .add-email-btn
        %ion-item
          %button{ 'ion-button': true, '(click)': 'addNicknameControl($event)' } 추가
