<ion-header>
  <ion-navbar>
    <ion-title class='text-center'>
      알림
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class='ion-parti'>
  <ion-list>
    <ion-item (click)='onClickMessage(message)' *ngFor='let message of messages' text-wrap>
      <div class='message-header'>
        <div *ngIf='message.parti.group' class='message-header--parti-group'>
          {{ message.parti.group.name }}
          >
        </div>
        <div class='message-header--parti-title'>{{ message.parti.title }}빠띠</div>
        <div class='message-header--created-at'>
          {{ message.created_at | partiDateTimeFormatObservable | async }}
        </div>
      </div>
      <div [innerHTML]='message.desc' class='message-desc'></div>
    </ion-item>
  </ion-list>
</ion-content>
