page-messages {
  .item-md {
    padding: 0;
    &.item-block .item-inner {
      padding: 0;
      ion-label {
        padding: 12px;
        margin: 0;
      }
    }
  }
  .message-header {
    display: flex;
    font-size: $font-size-small;
    &--parti {
      color: $brand-primary;
      flex: 1;
    }
    &--created-at {
      text-align: right;
      color: $gray;
    }
  }
  .message-desc {
    padding-top: 5px;
  }
}
