%ion-header
  %ion-navbar
    %ion-title {{ partiEnvironment.appTitle }}
%ion-content.ion-parti
  %ion-list
    %ion-item{ '*ngFor': 'let message of messages', 'text-wrap': true }
      .byline
        .sender-image{ '[ngStyle]': "{ 'background-image': 'url(' + message.sender.image_url + ')' }" }
        .sender-nickname {{ message.sender.nickname }}
        .message-created-at
          {{ message.created_at | partiDateTimeFormatObservable | async }}
      .desc{ '[innerHTML]': "message.desc" }

