.parti-list-joined
  %template{'[ngIf]': '!parties'}
    %ion-item{ 'text-center': true }
      %ion-spinner
  %template{'[ngIf]': '!!parties'}
    %ion-item{ '*ngFor': 'let parti of parties', '(click)': 'onClickParti(parti)' }
      .parti-item
        .parti-logo{ '[ngStyle]': "{ 'background-image': 'url(' + parti.logo_url + ')' }" }
        .parti-body
          .parti-title
            .parti-title--title {{ parti.title }}
            .parti-title--maker{ '*ngIf': "parti.is_made_by" } 빠띠 메이커
          .parti-info
            .parti-info--new-post{ '*ngIf': "parti.latest_posts_count !== 0"}
              .parti-info--new-post__icon N
              .parti-info--new-post__number {{ parti.latest_posts_count }}
            .parti-info--new-member{ '*ngIf': "parti.latest_members_count !== 0"}
              .parti-info--new-member__icon
                %ion-icon{ name: 'person' }
              .parti-info--new-member__number {{ parti.latest_members_count }}
            .parti-info--date{ '*ngIf': "parti.latest_posts_count + parti.latest_members_count === 0"}
              {{ parti.updated_at | partiDateTimeFormatObservable | async }}
