<ion-content class='opening-content-container'>
  <ion-slides #openingSliders [options]='{onlyExternal: true}'>
    <ion-slide class='slide0'>
      <div class='opening-header'>
        {{ myselfData.nickname }}님 만나서 반가워요.
      </div>
      <div class='opening-body'>
        덕업일치를 하려는 사람들을 위한
        <br>
        오픈 커뮤니티, 빠띠!
        <br>
        내가 관심있는 이슈로
        <br>
        파티하듯 수다를 떠는 곳입니다.
        <br>
        관심사를 알려주시면 설정을 도와드릴게요!
      </div>
    </ion-slide>
    <ion-slide class='slide1'>
      <div class='opening-header'>
        {{ myselfData.nickname }}님의 관심분야를
        <br>
        선택해 보세요.
      </div>
      <div class='opening-body'>
        <div *ngIf='!tags' class='spinner-center-wrapper'>
          <ion-spinner></ion-spinner>
        </div>
        <ion-grid>
          <ion-row wrap>
            <ion-col *ngFor='let tag of tags' [class.checked]='tag.checked' width-50>
              <div (click)='onClickTag(tag)' class='tag-content'>
                {{ tag.name }}
                <ion-icon *ngIf='!tag.checked' name='add-circle'></ion-icon>
                <ion-icon *ngIf='tag.checked' name='checkmark'></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-slide>
    <ion-slide class='slide2'>
      <div class='opening-header'>
        {{ myselfData.nickname }}님께
        <br>
        어울리는 추천 빠띠입니다.
      </div>
      <div class='opening-body'>
        <div *ngIf='!parties' class='spinner-center-wrapper'>
          <ion-spinner></ion-spinner>
        </div>
        <parti-list [parties]='parties'></parti-list>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class='opening-footer-container'>
  <button (click)='onClickNext()' block ion-button>
    {{ buttonLabel }}
  </button>
</ion-footer>
