%ion-content.opening-content-container
  %ion-slides{ '#openingSliders': true, '[options]': '{onlyExternal: true}' }
    %ion-slide.slide0
      .opening-header
        {{ myselfData.nickname }}님 만나서 반가워요.
      .opening-body
        덕업일치를 하려는 사람들을 위한
        %br
        오픈 커뮤니티, 빠띠!
        %br
        내가 관심있는 이슈로
        %br
        파티하듯 수다를 떠는 곳입니다.
        %br
        관심사를 알려주시면 설정을 도와드릴게요!

    %ion-slide.slide1
      .opening-header
        {{ myselfData.nickname }}님의 관심분야를
        %br
        선택해 보세요.
      .opening-body
        .spinner-center-wrapper{ '*ngIf': '!tags' }
          %ion-spinner
        %ion-grid
          %ion-row{ 'wrap': true }
            %ion-col{ '*ngFor': 'let tag of tags', 'width-50': true, '[class.checked]': 'tag.checked' }
              .tag-content{ '(click)': 'onClickTag(tag)' }
                {{ tag.name }}
                %ion-icon{ 'name': 'add-circle', '*ngIf': '!tag.checked'}
                %ion-icon{ 'name': 'checkmark', '*ngIf': 'tag.checked'}
    %ion-slide.slide2
      .opening-header
        {{ myselfData.nickname }}님께
        %br
        어울리는 추천 빠띠입니다.
      .opening-body
        .spinner-center-wrapper{ '*ngIf': '!parties' }
          %ion-spinner
        %parti-list{ '[parties]': 'parties' }
        / %ion-grid
        /   %ion-row{ 'wrap': true }
        /     %ion-col{ '*ngFor': 'let parti of parties', 'width-50': true }
        /       %div{ '(click)': 'onClickParti(parti)', '[class.joined]': 'parti.is_member', '[class.pending]': 'parti.pending' }
        /         %ion-icon{ 'name': 'ios-square-outline', '*ngIf': '!parti.is_member'}
        /         %ion-icon{ 'name': 'ios-checkbox-outline', '*ngIf': 'parti.is_member'}
        /         {{ parti.title }}

%ion-footer.opening-footer-container
  %button{ 'ion-button': true, block: true, '(click)': 'onClickNext()' }
    계속하기
