parti-comment-panel {
  &:first-child .comment {
    border-top: none;
    padding-top: 0;
  }
  &:last-child .comment {
    padding-bottom: 0;
  }
  .comment {
    border-top: 1px solid $gray-lighter;
    padding: 12px;
    color: $gray-dark;
    .comment-header {
      .comment-byline {
        display: flex;
        justify-content: flex-start;
        .user-image {
          display: inline-block;
          height: 24px;
          width: 24px;
          border-radius: 50%;
          @include background-thumbnail();
        }
        .byline-info {
          padding-left: 8px;
          display: flex;
          flex-flow: row nowrap;
          .user-nickname{
            flex: 1;
            padding-right: 6px;
            color: $brand-primary-dark;
          }
          .comment-created-at {
            width: 90px;
            color: $gray-light;
            font-size: $font-size-small;
          }
        }
      }
    }
    .comment-body {
      &.agreed:before {
        content: '\f392  찬성 ';
        font-family: "Ionicons";
        color: $brand-success;
      }
      &.disagreed:before {
        content: '\f391  반대 ';
        font-family: "Ionicons";
        color: $brand-danger;
      }
      &.comment-body-blinded {
        color: $gray-light;
      }
    }
    .comment-buttons > span {
      margin-right: 6px;
      color: $brand-primary;
    }
    .comment-body,
    .comment-buttons {
      padding-left: 32px;
    }
  }
}
