.comment
  .comment-header
    .comment-byline
      .user-image{ '[ngStyle]': "{ 'background-image': 'url(' + comment.user.image_url + ')' }", '(click)': 'onClickUser(comment.user)' }
      .byline-info
        .user-nickname{ '(click)': 'onClickUser(comment.user)' } {{ comment.user.nickname }}
        .comment-created-at
          {{ comment.created_at | partiDateTimeFormatObservable | async }}
  %template{ '[ngIf]': '!comment.is_blinded' }
    .comment-body{ smartBody: true, '[innerHTML]': "comment.body | partiReadMore:comment.truncated_body | partiSimpleFormat:comment", '[class.agreed]': "comment.choice == 'agree'" , '[class.disagreed]': "comment.choice == 'disagree'" }
    .comment-buttons
      %span.upvote-button{ '[class.upvotable]': 'comment.is_upvotable' }
        %ion-spinner{ '*ngIf': 'isUpvoteLoading' }
        %span{ '*ngIf': '!isUpvoteLoading', '(click)': 'onClickUpvoteButton()' }
          {{ comment.is_upvotable ? '공감해요' : '공감취소' }}
      %span.comment-button{ '(click)': 'onClickCommentButton()' }
        댓글달기
      %span.upvotes-count{ '*ngIf': 'comment.upvotes_count > 0' }
        %ion-icon{ name: 'heart', '[class.upvoted]': '!comment.is_upvotable' }
        {{ comment.upvotes_count }}
  %template{ '[ngIf]': 'comment.is_blinded' }
    .comment-body.comment-body-blinded 건강하고 유쾌한 빠띠 활동을 위해 숨겨진 댓글입니다.


