<div class='comment'>
  <div class='comment-header'>
    <div class='comment-byline'>
      <div (click)='onClickUser(comment.user)' [ngStyle]="{ 'background-image': 'url(' + comment.user.image_url + ')' }" class='user-image'></div>
      <div class='byline-info'>
        <div (click)='onClickUser(comment.user)' class='user-nickname'>{{ comment.user.nickname }}</div>
        <div class='comment-created-at'>
          {{ comment.created_at | partiDateTimeFormatObservable | async }}
        </div>
      </div>
    </div>
  </div>
  <template [ngIf]='!comment.is_blinded'>
    <div [class.agreed]="comment.choice == 'agree'" [class.disagreed]="comment.choice == 'disagree'" [innerHTML]='comment.body | partiReadMore:comment.truncated_body | partiSimpleFormat:comment' class='comment-body' smartBody></div>
    <div class='comment-buttons'>
      <span [class.upvotable]='comment.is_upvotable' class='upvote-button'>
        <ion-spinner *ngIf='isUpvoteLoading'></ion-spinner>
        <span (click)='onClickUpvoteButton()' *ngIf='!isUpvoteLoading'>
          {{ comment.is_upvotable ? '공감해요' : '공감취소' }}
        </span>
      </span>
      <span (click)='onClickCommentButton()' class='comment-button'>
        댓글달기
      </span>
      <span *ngIf='comment.upvotes_count &gt; 0' class='upvotes-count'>
        <ion-icon [class.upvoted]='!comment.is_upvotable' name='heart'></ion-icon>
        {{ comment.upvotes_count }}
      </span>
    </div>
  </template>
  <template [ngIf]='comment.is_blinded'>
    <div class='comment-body comment-body-blinded'>건강하고 유쾌한 빠띠 활동을 위해 숨겨진 댓글입니다.</div>
  </template>
</div>
