// 키보드가 열릴 때 자동으로 탭 숨기기
body.keyboard-is-open ion-footer {
  bottom: 0 !important;
}
body.keyboard-is-open .scroll-content {
  margin-bottom: 0 !important;
}

// 백그라운드 속성의 썸네일

@mixin background-thumbnail() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  vertical-align: middle;
}

// 100% 화면 채우기
.full {
  width: 100%;
  height: 100%;
}
