// 기본 폰트
* , body {
  font-family: 'Apple SD Gothic Neo', 'Noto Sans CJK KR', 'Noto Sans KR', 'Source Sans Pro', 'Helvetica Neue', Helvetica, '맑은 고딕', 'Malgun Gothic', '돋움', dotum, Arial, sans-serif;
  line-height: 150%;
}

// 키보드가 열릴 때 자동으로 탭 숨기기
body.keyboard-is-open
  {
  ion-footer {
    bottom: 0 !important;
  }
  .ion-page ion-tabs .tabbar {
    display: none;
  }
 .scroll-content {
    margin-bottom: 0 !important;
  }
}

// placeholder 색상 변경
@mixin chagne-palceholder-color($color) {
  input::-webkit-input-placeholder {
    color: $color;
  }
  input:-moz-placeholder {
    color: $color;
  }
  input::-moz-placeholder {
    color: $color;
  }
  input:-ms-input-placeholder {
    color: $color;
  }
}

// 백그라운드 속성의 썸네일

@mixin background-thumbnail() {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  vertical-align: middle;
}

// 100% 화면 채우기
.full {
  width: 100%;
  height: 100%;
}

// 스피너를 중앙에 정렬
.spinner-center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

// 글 생략 (한줄)
@mixin single-text-ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 글 생략 (여러줄)
@mixin multi-text-ellipsis($lines) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

// 아이콘을 세로의 중앙에 정렬
.icon-md {
  vertical-align: middle;
}

// 텍스트 정렬
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// 텍스트 색상
.text-primary-dark {
  color: $brand-primary-dark;
}

// 요소 정렬
.pull-right {
  float: right;
}

// 애니메이션
.animated-hide {
  display: none;
}

// 공유하기 팝업
ion-action-sheet {
  .action-sheet-container {
    .action-sheet-button {
      padding: 18px 16px;
      border-bottom: 1px solid #ececed;
      .button-inner {
        font-size: $font-size-base;
      }
    }
    .action-sheet-cancel {
      border-bottom: none;
      margin-top: 76px;
      margin-bottom: 0;
      .button-inner {
        justify-content: center;
      }
    }
  }
}
