%ion-header
  %ion-navbar
    %ion-title Dev

%ion-content{ padding: true }
  %button{ 'ion-button': true, 'block': true, '(click)': 'onClickOpening()' }  오프닝하기

  %button{ 'ion-button': true, 'block': true, '(click)': 'onClickIntro()' }  인트로보기

  %button{ 'ion-button': true, 'block': true, '(click)': 'onClickClearOpeningShown()' }  인트로 못본 것으로 세팅

  %button{ 'ion-button': true, 'block': true, '(click)': 'onClickRefresh()' }  홈으로
